
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Terms & Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col class="title">
     <b> Q-Bust Terms and Conditions</b>
    </ion-col>
  </ion-row>
  <ion-row class="content-alignment">
    <p>Q-Bust Technologies Private Limited (“Q-Bust”) is the author and publisher of the internet resource www.Q-Bust.com and the mobile application ‘Q-Bust’ (together, “Website”). Q-Bust owns and operates the services provided through the Website.<p>

    <h5>1.NATURE AND APPLICABILITY OF TERMS</h5>
    <p>Please carefully go through these terms and conditions (“Terms”) and the privacy policy available at https://www.Q-Bust.com/company/privacy (“Privacy Policy”) before you decide to access the Website or avail the services made available on the Website by Q-Bust. These Terms and the Privacy Policy together constitute a legal agreement (“Agreement”) between you and Q-Bust in connection with your visit to the Website and your use of the Services (as defined below).</p>
    
    <p>The Agreement applies to you whether you are -</p>
    
    <p>A medical practitioner or health care provider (whether an individual professional or an organization) or similar institution wishing to be listed, or already listed, on the Website, including designated, authorized associates of such practitioners or institutions (“Practitioner(s)”, “you” or “User”); or
    A patient, his/her representatives or affiliates, searching for Practitioners through the Website (“End-User”, “you” or “User”); or
    Otherwise a user of the Website (“you” or “User”).</p>
    </ion-row>

</ion-content>
