<ion-content no-bounce>

  <ion-row>
      <!-- Rincy proper coding -->
    <ion-col col-3 *ngFor="let item of time" [hidden]="!isMorning(item?.aptSlot)">
      <button ion-button [disabled]="!item?.aptFlag" [ngClass]="{'btnActive': item?.existingFlag}"
        (click)="submit(item?.aptSlot)">{{item?.aptSlot}}</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-1 class="colOneButton">
    </ion-col>
    <ion-col class="colTag">
      <h6>Available</h6>
    </ion-col>
    <ion-col col-1 class="colTwoButton">
    </ion-col>
    <ion-col class="colTag">
      <h6>Booked</h6>
    </ion-col>
    <ion-col col-1 class="colThreeButton">
    </ion-col>
    <ion-col class="colTag">
      <h6>Selected</h6>
    </ion-col>
  </ion-row>


  <ion-row text-center>
    <ion-col>
      <button (click)="bookAppointment()" ion-button class="bookAppoinment">Book Appoinment</button>
    </ion-col>
  </ion-row>

</ion-content>