page-morning-session {

    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: color($colors,primary); 
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
        max-width: 80px;
    }
    .btnActive{
        background-color: rgb(30, 190, 78) !important;
        color: black !important
    }
 
    .button-md {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;  
        color: #fff;
        background-color: color($colors,primary); 
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
        max-width: 80px;
    }

    .button:focus{  
        background-color: rgb(30, 190, 78)
    }
    .button-ios:hover {
        background-color: rgb(30, 190, 78) !important;
      }

    h6 { 
        margin-top: 1.3rem;
    }
 
    .bookAppoinment{
        width: 100%!important ; 
        max-width: 200px!important; 
        background-color: color($colors,primary);
    }
    .bookAppoinment.button:focus{
        background-color: color($colors,primary) !important;
    }
    .colOneButton{
        width: 10px ;  height: 30px;background-color:color($colors,primary); border-radius: 5px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .colTwoButton{
        width: 10px ;height: 30px; background-color: #fbe4b3;border-radius: 5px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .colThreeButton{
        width: 10px ;height: 30px; background-color: rgb(30, 190, 78);border-radius: 5px;
        margin-left: 5px;
        margin-top: 10px;
    }
}
