<ion-content padding no-bounce>
  <div text-capitalize color="provider">
    <div *ngIf="providerlogin">
      <form padding [formGroup]="ProviderLoginForm">

        <ion-list class="position">
          <ion-item class="empty"></ion-item>
          <ion-item class="border-box" [class.invalid]="ProviderLoginForm.controls['mobile_no'].errors &&  ProviderLoginForm.controls['mobile_no'].touched">
            <ion-label class="itemIcon">
              <ion-icon  name="tablet-portrait"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email / Mobile Num" [formControl]="ProviderLoginForm.controls['mobile_no']"
              [(ngModel)]="userId" class="phoneNumInput" name="phone" type="text" ></ion-input>
          </ion-item>
          <ion-item class="border-box" [class.invalid]="ProviderLoginForm.controls['password'].errors && ProviderLoginForm.controls['password'].touched">
            <button icon-only ion-button clear type="button" item-left (click)="showPwd=!showPwd" class="itemIcon">
              <ion-icon  *ngIf="showPwd" name="eye"></ion-icon>
              <ion-icon  *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
            <!-- Rincy proper coding -->
            <ion-input *ngIf="showPwd" type="text" placeholder="Password" [(ngModel)]="client.password" [formControl]="ProviderLoginForm.controls['password']"></ion-input>
            <ion-input *ngIf="!showPwd" type="password" placeholder="Password" [(ngModel)]="client.password"
              [formControl]="ProviderLoginForm.controls['password']"></ion-input>
          </ion-item>
          <ion-item class="border-box">
              <!-- Rincy proper coding -->
            <ion-select placeholder="Select Country" [(ngModel)]="client.providerDetails.country" [formControl]="ProviderLoginForm.controls['country']">
              <ion-option value="India">India</ion-option>
              <ion-option value="USA">United States</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button class="signInButton" [disabled]="!ProviderLoginForm.valid" (click)="loginClient()">
            LOG IN
          </button>
          <div text-center class="ForgotLogIn" (click)="forgot()">
            <u>Forgot Password ?</u>
          </div>
          <div text-center class="NewUser" (click)="hideForProvider()">
            <u>New User ?</u>
          </div>
        </ion-list>
      </form>
    </div>


    <div *ngIf="providersignup">
      <form padding [formGroup]="ProviderRegisterForm">
        <ion-list class="signUpPosition">
          <ion-item class="empty"></ion-item>
         
          <ion-item class="border-box" [class.invalid]="ProviderRegisterForm.controls['mobile_no'].errors && ProviderRegisterForm.controls['mobile_no'].touched">
            <ion-label class="itemIcon">
              <ion-icon name="tablet-portrait"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email / Mobile Num" [formControl]="ProviderRegisterForm.controls['mobile_no']"
              [(ngModel)]="userId" name="phone" type="text"></ion-input>
          </ion-item>
          <ion-item class="border-box" [class.invalid]="ProviderRegisterForm.controls['password'].errors && ProviderRegisterForm.controls['password'].touched">
            <button icon-only ion-button clear type="button" item-left (click)="showPwd=!showPwd" class="itemIcon">
              <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
              <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
            <!-- Rincy proper coding -->
            <ion-input *ngIf="showPwd" type="text" placeholder="Password" [(ngModel)]="customer.password" [formControl]="ProviderRegisterForm.controls['password']"></ion-input>
            <ion-input *ngIf="!showPwd" type="password" placeholder="Password" [(ngModel)]="client.password"
              [formControl]="ProviderRegisterForm.controls['password']"></ion-input>
          </ion-item>
          <ion-item class="border-box">
              <!-- Rincy proper coding -->
            <ion-select placeholder="Select Country" [(ngModel)]="client.providerDetails.country" [formControl]="ProviderRegisterForm.controls['country']">
              <ion-option value="India">India</ion-option>
              <ion-option value="USA">United States</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button class="signInButton" (click)="registerClient()" [disabled]="!ProviderRegisterForm.valid">
            Sign Up
          </button>
          <div text-center class="ForgotLogIn" (click)="hideForProvider()">
            Already have an account ?
            <u> LOG IN</u> here
          </div>
        </ion-list>
      </form>
      <div class="terms-alignment">
        <p>By continuing, you agree to <b (click)="openWithInAppBrowser('http://qbust.com/Terms&Conditions - App.html')">Terms & Conditions</b></p> 
       </div>
    </div>
  </div>
</ion-content>