<!--
  Generated template for the VideocallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <ion-title>videocall</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    <ion-content>
      <!-- <div id="errorMsg"></div> -->
    
      <video width="250" height="250" id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline
        [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
      </video>
      <video width="250" height="250" id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline
        [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" >
      </video>
    
    
      <!-- <ion-row nowrap>
        <button ion-button (click)="login()">Login As: </button>
        <ion-item>
          <ion-input type="text" disabled [(ngModel)]="userId" placeholder="enter your nick name"></ion-input>
        </ion-item>
      </ion-row>
     -->
      <ion-row nowrap>
        <button ion-button  (click)="call()">Call</button>
        <!-- <ion-item>
          <ion-input type="text"  [(ngModel)]="partnerId" placeholder="your partner nick name"></ion-input>
        </ion-item> -->
      </ion-row> 
      <ion-row nowrap>
          <button ion-button  (click)="close()">close</button>
          <!-- <ion-item>
            <ion-input type="text"  [(ngModel)]="partnerId" placeholder="your partner nick name"></ion-input>
          </ion-item> -->
        </ion-row>   
    </ion-content>
   
  
    <!-- <ion-content padding>
      <ion-grid class="grid">
        <ion-row text-capitalize class="profileRow">
          <ion-col class="contentIconCol">
            <ion-icon color="primary" name="md-person" class="contentIcon"></ion-icon>
          </ion-col>
          <ion-col col-8 class="contentInputCol">
            <ion-input  text-capitalize
              [(ngModel)]="loginId" placeholder="loginId"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row text-capitalize class="profileRow">
          <ion-col class="contentIconCol">
            <ion-icon color="primary" name="md-person" class="contentIcon"></ion-icon>
          </ion-col>
          <ion-col col-8 class="contentInputCol">
            <ion-input  text-capitalize
              [(ngModel)]="callId" placeholder="callId"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div text-capitalize class="myButton" text-center>
        <button  ion-button color="primary" >
          Call
        </button>
        <button  ion-button color="primary" >
        Hang Up
        </button>
      </div>
    </ion-content> -->
    