page-videocall {
    .contentIconCol {
        max-width: 10%;
        padding-top: 1%
      }
    
      .contentIcon {
        font-size: 25px;
        margin-top: 30%
      }
    
      .contentInputCol {
        padding-left: 8%;
      }
    
      .radidRow {
        padding-bottom: 2%;
        padding-top: 3%;
        width: 80%;
        margin-top: 2%;
        margin-left: 4%;
      }
      .button-md-primary.activated{
        background-color: transparent;
      }
      .button-ios-primary.activated{
        background-color: transparent;
      }
      .radioCol1 {
        max-width: 30%;
        padding-left: 10%;
        padding-top: 1%;
      }
    
      .radioCol2 {
        max-width: 30%;
        padding-top: 1%;
      }
    
      .radioLabel {
        float: left;
        margin: 0px
      }
      .radio-ios {
        width: 70px;
        margin-left: -60px;
        padding-left: 65px;
    }
    .radio-md {
      width: 70px;
      margin-left: -60px;
      padding-left: 65px;
    }
    // .radio-md .radio-icon {
    //   top: -4px;
    // }
      .dateCol {
        padding-left: 10%;
      }
    
      .dateTag {
        padding-left: 0%;
      }
      .datetime-disabled, .item-datetime-disabled ion-label {
        opacity: .7;
        pointer-events: none;
    }
      .ioncol-select {
        max-width: 20%;
        padding: 0px;
        margin-left: -2%;
    
        .select-text {
          text-overflow: clip !important;
        }
    
        .select {
          max-width: 80%;
          border-right: 1px solid rgb(156, 154, 154);
          text-overflow: clip !important;
          box-sizing: content-box;
          padding-right: 0%;
        }
    
        .select-md .select-icon .select-icon-inner {
          color: rgba(255, 255, 255, 0.7);
        }
        .select-ios .select-icon .select-icon-inner {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .select-disabled, .item-select-disabled ion-label {
        opacity: .7;
      }
    
      .selectTag {
        padding-left: 4%;
      }
    
      .myButton {
        margin-top: 7%
      }
    
      .stateSelect {
        .select-md {
          max-width: 100%;
        }
      }
    
      ion-label {
        margin: 0;
        display: initial;
      }
    
      .label-md {
        margin: 0px 0px 0px 0;
      }
    
      .col {
        padding: 0px;
        padding-left: 4%;
    
      }
    
      .profileRow {
        border-bottom: 1px solid;
        max-height: 30%;
        padding-left: 2%;
      }
    
      .colIcon {
        font-size: 25px;
        margin-top: 30%;
        color: color($colors, primary);
      }
    
      // .grid{
      //     height: 100% !important
      // }
    
      .text-input-ios {
        padding-left: 0px;
        margin-left: 8px;
      }
      .emailInput{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 8px;
        background-color: white;
      }
    
      .text-input-md {
        padding-left: 0px;
        margin-left: 8px;
      }
    
      .datetime-text {
        padding-left: 10px;
      }
    
      .errorMsg {
        border-bottom: none !important;
      }
      .text-input[disabled] {
        opacity: .7;
    }
    .select-ios{
      max-width: 80%;
    }
    .changePasswordIcon{
      margin: 13px 20px;
    }
    .changePasswordLabel{
      width: 100%;
      background-color: white;
      box-shadow: none;
      padding: 0%;
      padding-right: 20%;
      font-size: 1.0em
    }
    .phoneInput{
      margin-top: 10px;
      background-color: white;
    }
}
