<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      About Us
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col class="version-alignment">
     <img src="assets/imgs/Qbust.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="version-alignment">
     <p align="center"> Version- 1.0 <br>Last Update- 11/11/2018</p>     
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col >
      <p align="center">QBust is a Appoinment booking App that enable customers to book an appointment for selected services at QBust
        app customer login</p>
    </ion-col>
  </ion-row>
  <ion-list no-lines class="list-alignment">
    <button ion-item (click)="openWithInAppBrowser('http://qbust.com/PrivacyPolicy - App.html')">
      <ion-icon  name="lock" item-start color="primary"></ion-icon>
      <ion-label>Privacy Policy</ion-label>
    </button>
    <div class="hr-line">

    </div>
    <button ion-item (click)="openWithInAppBrowser('http://qbust.com/Terms&Conditions - App.html')">
      <ion-icon name="document" item-start color="primary"></ion-icon>
      <ion-label>Terms and Conditions</ion-label>
    </button>
    <div class="hr-line">

    </div>
   
  </ion-list>

</ion-content>