<ion-header>
  <ion-row>
    <ion-title text-capitalize>
      {{client?.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-row>
</ion-header>


<ion-content no-padding>
 
    <p class="dateP">
      {{token?.aptDate | date}}
    </p>
    <!-- Rincy proper coding -->
    <ion-row class="tokenRow" *ngIf="!token?.aptSlot">
      <ion-row class="currentTextRow">
        <h5 class="currentText"> Your Token</h5>
      </ion-row>
      <ion-row class="currentToken">

        <h5 class="currentTokenH5">{{client?.sessionDetails?.tokenPrefix}}{{token?.tokenNumber}}{{client?.sessionDetails?.tokenSuffix}}</h5>
      </ion-row>
    </ion-row>
    <!-- Rincy proper coding -->
    <ion-row class="tokenRow" *ngIf="token?.aptSlot">
      <ion-row class="currentTextRow">
        <h5 class="currentText"> Appointment at</h5>
      </ion-row>
      <ion-row class="currentToken">
        <h5 class="appointment">{{token?.aptSlot}}</h5>
      </ion-row>
    </ion-row>

  <ion-row class="iconsRow">
    <ion-col col-3 (click)="navigation()">
      <p class="iconText">Navigation</p>
      <button>
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 (click)="chat()">
      <p class="iconText">Chat</p>
      <button>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 (click)="reshedule()">
      <p class="iconText">Reshedule</p>
      <button>
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 (click)="delete()">
      <p class="iconText">Cancel</p>
      <button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-card class="icon-color">
    <ion-row>
      <ion-col col-2>
        <ion-icon name="list" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2 class="categoryText">Category</h2>
        <p>{{client?.providerDetails?.providerSector}}</p>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-2>
        <ion-icon name="pin" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2 class="categoryText">Address</h2>
        <p>{{client?.name}}</p>
        <p>{{client?.providerDetails?.city}}</p>
        <p>{{client?.providerDetails?.state}}</p>
      </ion-col>
    </ion-row>
    <br>
    <hr>
    <ion-row>

      <p class="bookedForText">Booked For&nbsp;&nbsp;:</p>
      <p class="bookedForName" *ngIf="customer?.secondaryMemberName == null; else secondary " text-capitalize>{{customer?.name}}</p>
      <ng-template #secondary>
        <p class="bookedForName" text-capitalize>{{customer?.secondaryMemberName}}</p>
      </ng-template>
    </ion-row>
    <br>

  </ion-card>
</ion-content>