page-token {
    .card-ios p{
        font-size: 3vw;
    }
    .card-md p{
        font-size: 3vw;
    }
    .toolbar-title-ios {
        font-size: 3.5vw;
    }
    .toolbar-title-md {
        font-size: 3.5vw;
    }
    ion-header {
        background-color: #f6bb42;
        min-height: 56px;
        padding-top: 2%;
    }
    .dateP {
        width: 100%;
        text-align: center;
        font-size: 3vw;
    }
    .pin {
        margin-left: 30%;
        //margin-top: 30%;
        color: color($colors, primary);
        font-size: 7vw;
    }
    .tokenRow {
        width: 50%;
        /* varun responsive -- below line to adjust the height .since i removed one unwanted ion row in html */
        height: 30%;
        margin-left: 25%;
        border: 1px solid #bdbdbd;
        border-radius: 5%;
        background-color: #f6bb42;
    }
    .currentTextRow {
        width: 100%;
        padding-top: 5%;
    }
    .currentText {
        width: 100%;
        text-align: center;
        margin-bottom: 0%;
        /* varen res. font */
        font-size: 5vw;
    }
    .currentToken {
        width: 100%;
    }
    .currentTokenH5 {
        text-align: center;
        width: 100%;
        font-size: 11vw;
        margin-bottom: 6rem;
    }
    .appointment {
        text-align: center;
        width: 100%;
        font-size: 2em;
        margin-bottom: 1.6rem;
    }
    .myTokenRow {
        /* varun res font size */
        font-size: 4vw;
        width: 100%;
        border-top: 1px solid #bdbdbd;
        background-color: lightgray;
    }
    [col-3] {
        height: 100%;
        text-align: center;
        border: 1px solid #bdbdbd;
    }
    .iconsRow {
        margin-top: 10%;
        height: 10%;
        border: 1px solid #bdbdbd;
        background-color: #f6bb42;
         /* res.font size */
         font-size: 3vw;
    }
    .iconText {
        height: 50%;
        margin: 0%;
    }
    button {
        background-color: #f6bb42;
    }
    .categoryText {
        font-size: 4vw;
        padding-left: 0%;
        font-weight: 600;
    }
    [col-8] {
        font-size: 1.2em;
        padding-left: 0%;
    }
    .categoryRow {
        padding-top: 5%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        background-color: lightgray;
        height: 60%;
        padding-bottom: 35%;
    }
    [col-6] {
        margin-top: 3%;
        margin-bottom: 3%;
        max-width: 80px;
    }
    [col-4] {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    ion-icon {
        font-size: 5vw;
    }
    .button-md {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .button-ios {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .bookedForText {
        font-size: 1.2em;
        font-weight: 600;
        padding-left: 15px;
    }
    .bookedForName {
        font-size: 1.2em;
        padding-left: 15px;
    }
    ion-title {
        text-align: center;
    }
    .dateRow {
        padding-bottom: 5%
    }
}