<ion-content class="content">

  <div class="carousel">
  </div>

  <super-tabs id="mainTabs" tabsPlacement="top" toolbarColor="primary" indicatorColor="primary">
    <super-tab [root]="tab1Root" title="Customer" ></super-tab>
    <super-tab [root]="tab2Root" title="Provider" ></super-tab>
</super-tabs>

</ion-content>

