page-login {

  .myNavbar{
    border-bottom:3px solid #ffff
}
.contentSlide{
  width:100% ; 
  height:100%
}
.sliderImage{
  width:100% ; 
  height:100%
}

.carousel{
  height: 40%;
  background-size: 100% 100%;
  background-image: url("../assets/imgs/image_in_hand2.jpg");
}
super-tabs{
  height: 60%;
}
}