<ion-content padding>
  <ion-grid class="contentGrid">
    <form>
      <ion-list>
        <!-- code for select state from drop down -->
        <!-- <ion-item>
          <ion-label fixed color="primary">
            State</ion-label>
          <ion-select placeholder="{{client.providerDetails.state}}" [hidden]="appoinments[0] != 'new appointment' "
            [(ngModel)]="client.providerDetails.state" required interface="popover" name="Name">
            <ion-option (ionSelect)="loadCities(state)" value="{{state}}" *ngFor="let state of state">{{state}}</ion-option>
          </ion-select>
          
          <ion-input [disabled]="true" [hidden]="appoinments[0] == 'new appointment'" type="text" [(ngModel)]="client.providerDetails.state"
            [ngModelOptions]="{standalone: true}"></ion-input>

        </ion-item> -->

        <!-- code for select state from wheel selector -->
        <ion-row class="dateRow">
          <ion-col fixed color="primary" class="dateCol">State</ion-col>

          <ion-col class="dateButtonCol">
              <!-- Rincy proper coding -->
            <button ion-button [hidden]="appoinments[0] != 'new appointment' " (click)="selectState()" clear class="myDate">{{client?.providerDetails?.state}}
            </button>
            <!-- Rincy proper coding -->
            <ion-input [disabled]="true" [hidden]="appoinments[0] === 'new appointment'" type="text" [(ngModel)]="client.providerDetails.state"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-col>
        </ion-row>

        <!-- code for select city from wheel selector -->
        <ion-row class="dateRow">
          <ion-col fixed color="primary" class="dateCol">City</ion-col>

          <ion-col class="dateButtonCol">
              <!-- Rincy proper coding -->
            <button ion-button [hidden]="appoinments[0] != 'new appointment' " (click)="selectCity()" clear class="myDate">{{client?.providerDetails?.city}}
            </button>
            <!-- Rincy proper coding -->
            <ion-input [disabled]="true" [hidden]="appoinments[0] === 'new appointment'" type="text" [(ngModel)]="client.providerDetails.city"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-col>
        </ion-row>
        <!-- code for select city from drop down -->
        <!-- <ion-item>
          <ion-label fixed color="primary">City</ion-label>
          <ion-select placeholder="{{client.providerDetails.city}}" [hidden]="appoinments[0] != 'new appointment' "
            [(ngModel)]="client.providerDetails.city" required interface="popover" name="Name">
            <ion-option (ionSelect)="loadClientNames(c)" value="{{c}}" *ngFor="let c of city">{{c}}</ion-option>
          </ion-select>
          
          <ion-input [disabled]="true" [hidden]="appoinments[0] == 'new appointment'" type="text" [(ngModel)]="client.providerDetails.city"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item> -->

        <!-- code for select name from drop down -->
        <!-- <ion-item>
          <ion-label fixed color="primary">Name</ion-label>
          <ion-select text-capitalize placeholder="{{client.name}}" [hidden]="appoinments[0] != 'new appointment' "
            [(ngModel)]="client.name" required interface="popover" name="Name">
            <ion-option text-capitalize (ionSelect)="loadSelectedClient(i)" *ngFor="let client of name;let i= index">{{client.name}}</ion-option>
          </ion-select>
          <ion-input text-capitalize [disabled]="true" [hidden]="appoinments[0] == 'new appointment'" type="text"
            [(ngModel)]="client.name" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item> -->

        <!-- code for select Name from wheel selector -->
        <ion-row class="dateRow">
          <ion-col fixed color="primary" class="dateCol">Name</ion-col>

          <ion-col class="dateButtonCol">
              <!-- Rincy proper coding -->
            <button ion-button [hidden]="appoinments[0] != 'new appointment' " (click)="selectName()" clear class="myDate">{{client?.name}}
            </button>
            <!-- Rincy proper coding -->
            <ion-input [disabled]="true" [hidden]="appoinments[0] === 'new appointment'" type="text" [(ngModel)]="client.name"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-col>
        </ion-row>

        <!-- <ion-item *ngIf="speciality" [hidden]="speciality[0] == null">
          <ion-label fixed class="sessionLabel" color="primary">Speciality</ion-label>
          <ion-select required interface="popover" [hidden]="appoinments[0] != 'new appointment' " name="Name"
            [(ngModel)]="appointment.speciality">
            <ion-option value="{{item}}" text-capitalize (ionSelect)="loadSpecialist(item)" *ngFor="let item of specialistArray; let i = index ">
              {{item}}
            </ion-option>
          </ion-select>
          <ion-input text-capitalize [disabled]="true" [hidden]="appoinments[0] == 'new appointment'" type="text"
            [(ngModel)]="appointment.speciality" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item> -->

        <!-- code for select Speciality from wheel selector -->
        <!-- Rincy proper coding -->
        <ion-row class="dateRow" *ngIf="speciality" [hidden]="speciality[0] == null">
          <ion-col fixed color="primary" class="dateCol">Speciality</ion-col>

          <ion-col class="dateButtonCol">
              <!-- Rincy proper coding -->
            <button ion-button [hidden]="appoinments[0] != 'new appointment' " (click)="selectSpeciality()" clear class="myDate"
              text-capitalize>{{appointment?.speciality}}
            </button>
            <!-- Rincy proper coding -->
            <ion-input [disabled]="true" [hidden]="appoinments[0] === 'new appointment'" type="text" [(ngModel)]="appointment.speciality"
              [ngModelOptions]="{standalone: true}" text-capitalize></ion-input>
          </ion-col>
        </ion-row>

        <!-- <ion-item *ngIf="specialist" [hidden]="specialist[0] == null">
          <ion-label fixed class="sessionLabel" color="primary">Specialist</ion-label>
          <ion-select required interface="popover" [hidden]="appoinments[0] != 'new appointment' " name="Name"
            [(ngModel)]="appointment.specialist">
            <ion-option (ionSelect)="loadSelectedSecondaryProvider(i)" value="{{item._id}}" *ngFor="let item of specialist; let i = index ">
              {{item.name}}
            </ion-option>
          </ion-select>
          <ion-input text-capitalize [disabled]="true" [hidden]="appoinments[0] == 'new appointment'" type="text"
            [(ngModel)]="appointment.specialist" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item> -->

        <!-- code for select Specialist from wheel selector -->
        <!-- Rincy proper coding -->
        <ion-row class="dateRow" *ngIf="specialist" [hidden]="specialist[0] == null">
          <ion-col fixed color="primary" class="dateCol">Specialist</ion-col>

          <ion-col class="dateButtonCol">
              <!-- Rincy proper coding -->
            <button ion-button [hidden]="appoinments[0] != 'new appointment' " (click)="selectSpecialist()" clear class="myDate">{{appointment?.specialist}}
            </button>
            <!-- Rincy proper coding -->
            <ion-input [disabled]="true" [hidden]="appoinments[0] === 'new appointment'" type="text" [(ngModel)]="appointment.specialist"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="dateRow">
          <ion-col fixed color="primary" class="dateCol">Date</ion-col>

          <ion-col class="dateButtonCol">
              <!-- Rincy proper coding -->
            <button ion-datepicker [(value)]="appointment.aptDate" [min]="appointmentDate" (ionChanged)="getMaxToken($event)"
              clear class="myDate">{{appointment?.aptDate | date}}
              <!-- <ion-icon color="primary" name="calendar" class="dateIcon"></ion-icon> -->
              <!-- <p class="dateTag"> {{appointment.aptDate | date}} </p> -->

            </button>

          </ion-col>
        </ion-row>
        <!-- Rincy proper coding -->
        <ion-item [hidden]="appointment?.sessionType != 'multiple'">
          <ion-label fixed class="sessionLabel" color="primary">Session</ion-label>
          <ion-select required interface="popover" [(ngModel)]="appointment.sessionNumber" name="Name">
            <ion-option value="{{session.sessionNumber}}" ng-if="session?.maxToken != 2" *ngFor="let session of clientSession?.sessions; let i = index ">
              {{session?.startTime}} - {{session?.endTime}}
            </ion-option>
          </ion-select>
        </ion-item>

        <div class="notes-item" no-lines>
            <!-- Rincy proper coding -->
          <ion-textarea class="itemTextarea" placeholder="Any instructions?" [(ngModel)]="appointment.customerNotes"
            [ngModelOptions]="{standalone: true}"></ion-textarea>
        </div>
      </ion-list>

      <div padding text-center [hidden]="appointment.sessionType === 'appointment'">
        <button (click)="bookAppointment()" [disabled]="maxTokenReached()" ion-button color="primary" icon-right>
          Book Appointment
        </button>
      </div>
      <div text-center class="maxTokenDiv" [hidden]="!maxTokenReached()"> Booking not available for selected date</div>
      <!-- Rincy proper coding -->
      <div padding text-center *ngIf="appointment?.sessionType === 'appointment'">
        <button (click)="chooseAppointment()" ion-button color="primary" icon-right>
          Choose Appointment
        </button>
      </div>
    </form>
  </ion-grid>
</ion-content>