page-appointment {
    ion-item {
        width: 100% !important;
    }
    .select-md .select-placeholder {
        color: #000;
    }
    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md {
        color: color($colors, primary); // font-weight: bold;
        font-size: 1.0em;
    }
    .col {
        color: color($colors, primary);
    }
    .itemTextarea {
        background-color: white;
        color: black; // margin-top: 2%;
        border: solid 1px #999;
        border-radius: 7px; // width: 100%;
        height: 80px;
        margin-right: 0%;
    }
    ion-input,
    ion-textarea {
        color: black;
    }
    .notes-item {
        background-color: transparent;
        padding: 0px;
        width: 100%;
        margin-top: 2%;
    }
    .text-input-md {
        margin: 5px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px); // height: 65px;
    }
    textarea {
        height: 65px;
    }
    .text-input-ios {
        margin: 5px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px); // height: 65px;
    }
    .textareaItem {
        background-color: white;
        color: black;
        border: solid 0.1px #dedede;
        margin-top: 2%;
    }
    .item-md {
        background-color: #f4f4f4;
        color: black;
        border: solid 0.1px #dedede;
        margin-top: 2%;
    }
    .item-ios {
        background-color: #f4f4f4;
        color: black;
        border: solid 0.1px #dedede;
        margin-top: 2%;
    }
    .select-ios .select-placeholder {
        color: #000;
    }
    .item-input .label-ios,
    .item-select .label-ios,
    .item-datetime .label-ios {
        color: color($colors, primary); // font-weight: bold;
        font-size: 1.0em;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: rgba(158, 158, 158, 0);
        -webkit-box-shadow: inset 0 -1px 0 0 rgba(158, 158, 158, 0);
        box-shadow: inset 0 -1px 0 0 rgba(158, 158, 158, 0);
    }
    .picker-md .picker-wrapper {
        height: 260px;
        background: #fff;
        margin-bottom: 0%;
    }
    .picker-ios .picker-wrapper {
        height: 200px;
        width: 200px;
        border-top: 0.55px solid color($colors, primary);
        background: #fff;
        border-bottom: 20px; // border-radius: 0% 0% 10% 10%;
        margin-bottom: 0%;
    }
    .datepicker-wrapper .datepicker-header .weekday-header {
        // padding: 8px 10px;
        background-color: #c1cccb;
    }
    .datepicker-wrapper .datepicker-header {
        background-color: #c1cccb;
    }
    .myDate {
        text-transform: none;
        width: 100%;
        background-color: #f4f4f4; // text-align:left; 
        color: black;
        padding-left: 2px;
        font-size: 1.6rem;
        height: 100%;
        text-align: left;
    }
    .myDate .button-inner {
        justify-content: flex-start;
    }
    .dateRow {
        font-size: 1.6rem;
        width: 100%;
        border: solid 0.1px #dedede;
        margin-top: 2%;
        min-height: 4.4rem;
        max-height: 4.4rem;
        background-color: #f4f4f4;
    }
    .dateCol {
        max-width: 80px;
        width: 80px;
        min-width: 96px; // margin: 2% 8px 13px 0;
        /* varun responsive tab-- commented the above line and added below 3 lines for center alignment */
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 16px;
    }
    .dateButtonCol {
        padding-left: 18px;
        min-height: 4.4rem;
        overflow: hidden;
        /* varun responsive */
        display: flex;
        align-items: center

    }
    .dateIcon {
        width: 12px;
        position: absolute;
        margin-left: 50%;
        margin-top: 1%;
    }
    .dateTag {
        margin-top: 10%;
        justify-content: flex-start;
    }
    .sessionLabel {
        font-size: 1.0em;
    }
    .maxTokenDiv {
        max-width: 100%;
        text-transform: none;
        font-style: italic;
        color: maroon;
    }
    .select-md .select-icon {
        position: fixed;
        margin-left: 50%;
    }
    .select-ios .select-icon {
        position: fixed;
        margin-left: 50%;
    }
    .button-md-primary {
        width: auto;
    }
    .button-ios-primary {
        width: auto;
    }
    ion-label[fixed] {
        width: 60px;
        min-width: 80px;
        max-width: 60px;
    }
    ion-select {
        max-width: 55%;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid rgba(158, 158, 158, 0.02);
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid rgba(158, 158, 158, 0.02);
    }
    .list-md .item-input:last-child {
        border-bottom: 1px solid #c8c7cc;
    }
    .list-ios .item-input:last-child {
        border-bottom: 1px solid #c8c7cc;
    }
    .segment {
        border-top: 3px solid #ffff;
    }
    .text-input[disabled] {
        opacity: 1;
    }
    //fix for touch issue on 13/11/18
    .select-md {
        width: 100%;
    }
    .select-ios {
        width: 100%;
    }
}