<ion-header>

  <ion-navbar>
    <ion-title>Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <div *ngIf="listAppointments">
    <ion-list *ngFor="let detail of listAppointments; let i =index ">
      <ion-item-sliding no-lines #item>
        <ion-item no-lines>
          <ion-card id="step0">
            <ion-row>
              <ion-col class="col1">
                <!-- Rincy proper coding -->
                <button ion-button clear class="tokenNumber" *ngIf="!detail?.aptSlot">
                  {{client?.sessionDetails?.tokenPrefix}}{{detail?.tokenNumber}}{{client?.sessionDetails?.tokenSuffix}}
                </button>
                <!-- Rincy proper coding -->
                <button ion-button clear class="aptSlot" *ngIf="detail?.aptSlot">
                  {{detail?.aptSlot}}
                </button>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-col>

                    <h5 text-capitalize class="boldText">{{detail?.CustomerDocs?.name}}</h5>
                  </ion-col>
                  <ion-col col-2>
                    <ion-img width="20px" height="20px" class="female"  *ngIf="detail?.CustomerDocs?.gender=='Female'"></ion-img>
                    <ion-img width="20px" height="20px" class="male" *ngIf="detail?.CustomerDocs?.gender=='Male'"></ion-img>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-11>
                    <h5 class="gray">{{detail?.CustomerDocs?.phoneNum}}</h5>
                  </ion-col>
                  
                </ion-row>
                <ion-row>
                  <ion-col col-11>
                    <h5 class="gray">{{detail?.CustomerDocs?.emailId}}</h5>
                  </ion-col>
                  <ion-col col-1 *ngIf="detail?.checkinFlag">
                    <ion-icon name="md-checkmark" color="verified"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
            <ion-row *ngIf="hideme[i]">
              <ion-col>
                <dt>Notes</dt>
                <dd>{{detail?.customerNotes}}</dd>
              </ion-col>
            </ion-row>

            <ion-row class="bottom">

              <ion-col class="col-4" (click)="hideme[i] = !hideme[i]">
                <ion-row justify-content-center align-items-center>
                  <ion-icon name="eye"></ion-icon>
                  <h3 class="align">Detail</h3>
                </ion-row>
              </ion-col>

              <ion-col class="col-4" (click)="chatToCustomer(i)" id="step1">
                <ion-row justify-content-center align-items-center>
                  <ion-icon name="chatbubbles" style="float:left;"></ion-icon>
                  <h3 class="align">Chat</h3>
                </ion-row>
              </ion-col>


              <ion-col class="col-4">
                <ion-row justify-content-center align-items-center>
                  <ion-icon name="close" style="float:left"></ion-icon>
                  <h3 class="align">Cancel</h3>
                </ion-row>
              </ion-col>

            </ion-row>

          </ion-card>
        </ion-item>
        <ion-item-options side="right" no-lines>
          <button ion-button (click)="checkIn(i)" *ngIf="todayDateString == getRequestDate?.aptDate && !detail?.checkinFlag ">check
            In</button>
          <button ion-button (click)="checkedOut(i)" *ngIf="todayDateString == getRequestDate?.aptDate && detail?.checkinFlag ">check
            Out</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab mini color="primary">
      <ion-icon name="share"></ion-icon>

    </button>
  </ion-fab>
</ion-content>