page-list-customer-appointments {
    /* varun change for swipe */
    ion-item-sliding.active-slide.active-options-left ion-item-options[side=left],
    ion-item-sliding.active-slide.active-options-right ion-item-options:not([side=left]) {
        width: 100%;
        height: 70%;
        visibility: visible;
        margin-top: 7%;
    }
    /* varun-- to remove the bottom border during swipe */
    .list-ios ion-item-options {
        border-bottom: 0.55px solid #ffffff;
    }
    .list-md ion-item-options {
        border-bottom: 0.55px solid #ffffff;
    }
    /* varun- to adjust the margin  */
    .list-ios {
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .list-md {
        margin-bottom: 0px;
        margin-top: 3px;
    }
    /* varun - to remove the margin */
    .label-ios {
        margin: 0px 0px;
    }
    .label-md {
        margin: 0px 0px;
    }
    /* varun- item color is affecting the code */
    .item-ios {
        color: black;
        text-transform: none;
        padding-left: 0px;
    }
    .item-md {
        color: black;
        text-transform: none;
        padding-left: 0px;
    }
    element.style {}
    .list-ios>.item-block:last-child .item-inner,
    .list-ios>.item-wrapper:last-child .item-block .item-inner {
        border-bottom: 0;
    }
    .list-ios .item[no-lines],
    .list-ios .item[no-lines] .item-inner {
        border-width: 0;
    }
    .item[no-lines],
    .item.item[no-lines] .item-inner {
        border: 0;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
    }
    /* varun- to remove the bottom border */
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 0px solid #c8c7cc;
    }
    .list-md>.item-block:last-child,
    .list-md>.item-wrapper:last-child .item-block {
        border-bottom: 0px solid #c8c7cc;
    }
    /* to remove the card margin */
    .card-ios {
        margin: 0%;
        width: 100%;
    }
    .card-md {
        margin: 0%;
        width: 100%;
    }
    /* varun change the backgroung color of the ion image */
    ion-img {
        background: none;
    }

    /* varun changes for male and female based on responsive */
    .female{
        content:url("../../assets/icon/female.png") ; 
    }
    @media screen and (min-width: 750px) {
        .female{
            min-width: 100px;
            min-height: 25px;
            content:url("../../assets/icon/female2.png") ; 
            
        }
      }
      .male{
        content:url("../../assets/icon/male.png") ; 
    }
    @media screen and (min-width: 750px) {
        .male{
            min-width: 100px;
            min-height: 25px;
            content:url("../../assets/icon/male2.png") ; 
            
        }
      }
    .content {
        background-color: #e6e2e2;
    }
    .col1 {
        max-width: 25%
    }
    .tokenNumber {
        text-transform: capitalize;
        height: 70%;
        color: white;
        background-color: color($colors, primary);
        margin: 10%;
        text-align: center;
        font-size: 1.8em;
        color: black;
        width: 90%;
    }
    @media screen and (min-width: 450px) {
        .tokenNumber {
            width: 60%;
        }
      }
    .aptSlot {
        text-transform: capitalize;
        height: 70%;
        color: white;
        background-color: color($colors, primary);
        margin: 10%;
        text-align: center;
        font-size: 1.1em;
        color: black;
        width: 90%;
    }
    .fab ion-icon {
        font-size: 3.1rem;
    }
    .boldText {
        font-weight: bold;
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: #222;
        background-color: transparent;
    }
    .align {
        margin-left: 10px;
    }
    .col-align {
        margin-left: 13%;
    }
    .vertical-line {
        width: 3px;
        height: 30px;
        background-color: #898989;
    }
    .bottom {
        border-top: 1px solid #e6e3e3;
    }
    .gray {
        color: gray;
        height: 12px
    }
}