<ion-content padding (click)="dismiss()">
  <ion-grid class="grid" no-padding>

    <ion-card>
      <ion-card-content>
        <ion-card-title color="primary">
          Service Confirmation
        </ion-card-title>

        <ion-row class="textRow">
          <ion-textarea placeholder="Notes :" [(ngModel)]="providerNotes"></ion-textarea>
        </ion-row>
        <ion-row class="buttonRow">
          <button class="noShow" (click)="noShow()">
            No Show
          </button>
          <button class="served" (click)="served()">
            Served
          </button>
        </ion-row>
        <button ion-button class="cancel" (click)="cancel()">
          Cancel
        </button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>