page-service-conformation {
    .content-md {
        color: #000;
        background-color: rgba(158, 158, 158, 0.49);
    }
    .content-ios {
        color: #000;
        background-color: rgba(158, 158, 158, 0.49);
    }
    .textRow{
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        border: solid 1px #999;
        border-radius: 7px;
        height: 100px;
      }

    .card-md {
        height: 60%;
        margin-top: 30%;
    }
    .card-ios {
        height: 60%;
        margin-top: 30%;
    }
    .card-title-md {
        margin: 0px 0;
        text-align: center;
        // background-color: #f6bb42;
    }
    .card-title-ios {
        margin: 0px 0;
        text-align: center;
        // background-color: #f6bb42;
    }
    .card-content-md {
        padding: 0px 0px;
    }
    .card-content-ios {
        padding: 0px 0px;
    }
    .buttonRow {
        width: 90%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .noShow{
        margin-left: 1%;
        width: 40%;
        height: 50px !important;
        background-color: #d82b2b;
        font-size: 1.5em;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    .served{
        margin-left: 3%;
        width: 45%;
        height: 50px !important;
        background-color: green;
        font-size: 1.5em;
        color: white;
        text-shadow: 1px 1px 1px black; 
    }
    .cancel{
        width: 78%;
        margin-left: 11%;
        margin-top: 10%;
        height: 40px;
        color: white;
        text-shadow: 1px 1px 1px black;
        margin-bottom: 10%;
    }
    textarea.text-input {
        display: block;
        height: 85px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
