<ion-tabs #tabs >
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" (ionSelect)="tabChanged($event)"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Booking" tabIcon="book" (ionSelect)="tabChanged($event)"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Chat" tabIcon="chatbubbles" (ionSelect)="tabChanged($event)"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person" (ionSelect)="tabChanged($event)"></ion-tab>
</ion-tabs>
