page-sector-selection {
    .card {
        width: 100%;
        height: 100%;
        margin-top: 0%
    }
    img {
        height: 80%;
    }
    .card-header {
        height: 20%;
        vertical-align: middle;
    }
    ion-card {
        width: 48%;
        margin: 1%;
    }
    .SelectIndustry {
        width: 70%;
        margin-left: 15%;
        background-color: #EFEFEF;
        text-align: center;
        border: none;
        border-bottom: none;
        color: black;
    }
    @media screen and (min-width: 576px) {
        .HospitalCard{
            margin-bottom: 5%;
        }
    }
    .HospitalCard {
        /* varun responsive tab-- commented this and and used bootstrap grid in html */
        // width: 45%;
        // height: 20%;
        // margin-left: 0%;
        /* varun--- used this below margin to align the card  center approx*/
        margin-left: 2%;
        margin-right: 5%;
        float: left;
        .button {
            width: 100%;
            height: 100%;
            background-color: color($colors, primary);
        }
        .h6 {
            // transform: rotate(-20deg);
            // margin-left: -20px;
            color: white;
            // position: absolute;
        }
        .img {
            max-width: 50%;
            margin-left: 25%
        }
        .imgH6 {
            color: rgb(76, 76, 76);
            font-size: 1.2rem;
        }
    }
    .select-md .select-icon .select-icon-inner {
        color: #222;
    }
    .select-ios .select-icon .select-icon-inner {
        color: #222;
    }
    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md {
        color: #222;
    }
    .item-input .label-ios,
    .item-select .label-ios,
    .item-datetime .label-ios {
        color: #222;
    }
}