<ion-header>
  <ion-navbar color="primary">
    <ion-title text-capitalize>Select Category</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid class="contentGrid">
    <ion-item class="SelectIndustry">
      <ion-label text-capitalize>Select Category</ion-label>
      <ion-select [(ngModel)]="selectedSector" interface="popover">
        <ion-option value="{{s}}" (ionSelect)="onSelect()" *ngFor="let s of sector">{{s}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col class="HospitalCard" *ngFor="let client of clients" col-5 col-sm-3>

          <ion-card text-capitalize>
              <!-- Rincy proper coding -->
            <button clear class="button" [disabled]="!disable(client?.clientSector)">
              <ion-card-content (click)="onSectorSelect(client?.clientSector)">
                <h6 *ngIf="!disable(client?.clientSector)" class="h6">Coming Soon</h6>
                <img src={{client?.image}} width="10" height=50px class="img">
                <h6 text-center class="imgH6">{{client?.clientSector}}</h6>
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>