page-appointment-active {
    .content {
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
    }
    .card {
        background-color: rgb(255, 255, 255);
    }
    .col1 {
        width: 100%;
        height: 100%;
        background-color: #f6bb42;
    }
    .sliderButton {
        width: 20%;
        background-color: #cbccc7;
    }
    .list-ios ion-item-options .button {
        margin-top: 12%;
        border-radius: 10px;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 40%;
        min-height: 50%;
        max-width: 18%;
        border: 0;
        box-sizing: border-box;
    }
    .list-md ion-item-options .button {
        margin-top: 12%;
        border-radius: 10px;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50%;
        min-height: 40%;
        max-width: 18%;
        border: 0;
        box-sizing: border-box;
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        padding-left: 8px;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        padding-left: 8px;
    }
    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    .item-ios {
        padding-left: 0px;
    }
    .item-md {
        padding-left: 0px;
    }
    .label-md {
        margin: 0px 0px 0px 0px;
    }
    .list-md {
        margin: 10px 0 16px;
    }
    .list-ios {
        margin: 10px 0 16px;
    }
    .card-md {
        margin-bottom: 5px;
        ;
        margin: 5px;
        width: calc(100% - 10px);
    }
    .card-ios {
        margin-bottom: 5px;
        margin: 5px;
        width: calc(100% - 10px);
    }
    .itemDate {
        text-align: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding-top: 5%;
    }
    .topTab {
        border-top: 3px solid #ffff;
    }
    .rowBorder {
        border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    }
    .rowCol {
        max-width: 25%;
    }
    .itemMonthHeading {
        text-align: center;
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding-top: 3%;
    }
    .sessionTime {
        text-align: center;
        font-size: 10px;
        color: rgb(0, 0, 0);
        padding-top: 3%;
        margin-top: 5%;
    }
    .clientRow {
        font-size: 1.0em;
        width: 100%;
        float: left;
        margin-left: 5%;
    }
    .itemClientName {
        width: 80%;
        font-weight: bolder;
        padding-left: 0%;
    }
    .confirmed {
        width: 20%;
        color: darkgreen;
        text-align: right;
    }
    .cityDivMargin {
        margin-left: 5%;
    }
    .cityItemMargin {
        margin-top: 2%;
    }
    .nameDivMargin {
        margin-top: 10%;
        margin-left: 5%;
    }
    .nameColor {
        color: gray;
    }
    .rowTwoHeight {
        max-height: 48px;
    }
    .appointmentDiv {
        text-align: center;
        color: rgb(158, 154, 154);
        font-weight: bolder;
    }
    .appointmentDiv2 {
        margin-left: 30%;
        text-align: center;
        color: rgb(158, 154, 154);
        font-weight: bolder;
    }
    .appointmentTimeDiv {
        text-align: center;
        color: rgb(69, 196, 69);
        font-weight: bolder;
    }
    .currentNumberDiv {
        text-align: center;
        color: rgb(255, 0, 0);
        font-weight: bolder
    }
    .rescheduleButton {
        background-color: rgb(255, 255, 255);
        color: rgb(209, 151, 75);
        font-weight: bolder
    }
    .rescheduleIconDiv {
        margin-left: 30%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }
    .rescheduleButtonDiv {
        background-color: rgb(255, 255, 255);
    }
    .itemDateHeading {
        text-align: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding-top: 5%;
    }
    .align-right{
        float: right;
    }
}