page-forgot-password {
    .content {
        background-color: white; 
        background-size: 100% auto;
    }
    .myTitle {
        text-align: center;
        font-size: medium;
    }
    .divParagraph {
        text-align: center;
        margin-top: -10px;
    }
    .titleHeader {
        background-color: color($colors, primary);
        color: rgb(10, 10, 10);   
    }
    .titleHeader h6 {
        color: rgb(109, 105, 105);
        text-align: center;
        margin-left: 20%;
        text-align: center;
    }
    #heading {
        float: left;
        width: 100%; 
        font-size: 30px;
        color: color($colors, primary);
        position: relative;
        text-align: center;
        margin-top: 10%;
    }
    #subheading {
        float: left;
        width: 100%; 
        padding-bottom: 3%;
        font-size: 30px;
        color: color($colors, primary);
        position: relative; 
        text-align: center;
    }
    #paragraph {
        color: color($colors, primary);
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20%;
    }
    .image {
        margin-top: 10%;
    }
    #rounded {
        width: 90%; // as per your requirement
        height: 30px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
    }
    #container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    } 
    .position{
        margin-left: 10%;
        margin-right: 10%;
    }
    ion-select {
        max-width: 100%;
        width: 100%;
    }
    .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
        border-bottom: 1px solid;
    }
    .list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child ion-label, .list-ios > .item-wrapper:last-child .item-inner {
        border-bottom: 1px solid;
    }

    .list-md .item-block .item-inner {
        border-bottom: 1px solid ;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid ;
    }
    .list-ios > .item-block:first-child {
        border-top: 0.55px solid transparent;
    }
    .list-md > .item-block:first-child {
        border-top: 0.55px solid transparent;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0.55px solid transparent;
    }
    .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
        border-bottom: 0.55px solid transparent;
    }
    .icon-color{
        color: color($colors, primary);
    }
}