<ion-header text-capitalize>
  <ion-navbar color="primary">
    <ion-title class="myTitle">FORGOT PASSWORD</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="content" text-capitalize>

  <div text-center class="image">
    <img src="assets/imgs/lock3.png" width="100">
  </div>

  <div id="heading">
    forgot Your
  </div>

  <div id="subheading">
    Password
  </div>

  <div id="paragraph">
    <p text-center>Enter your registered Mobile Number or Email ..</p>
   
  </div>


  <ion-list class="position"> 
    <ion-item >
      <ion-label>
        <ion-icon name="tablet-portrait" class="icon-color"></ion-icon>
      </ion-label>
      <ion-input placeholder="Email / Mobile Num"  name="phone" type="text"></ion-input>
    </ion-item>
    <ion-item col-12>
        <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="country" [ngModelOptions]="{standalone: true}" >
        <ion-option value="India">India</ion-option>
        <ion-option value="USA">United States</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div padding text-center>
    <button (click)="send()" ion-button color="primary" icon-right>
      Send
      <ion-icon name="mail-open"></ion-icon>
    </button>
  </div>

</ion-content>