<ion-header text-capitalize>
    <ion-navbar color="primary">
        <ion-title class="myTitle">Verification</ion-title>

    </ion-navbar>
</ion-header>

<ion-content text-capitalizeclass="content">
    <div class="headerColor">

        <h6>Verification</h6>
        <br>
        <br>
        <img src="assets/imgs/mail-icon.png" width="100" height="80" class="imgMargin">

    </div>
    <div class="label">
        <h6>We have send you an access code via SMS for mobile Number Verification</h6>
    </div>

    <div id="divOuter">
        <div id="divInner">
            <input type="text" id="partitioned" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="4" />
        </div>
    </div>



    <button ion-button class="sendButton" (click)="save()">
        <ion-icon name="md-arrow-round-forward"></ion-icon>
    </button>


    <div class="ReSend">
        <h6 class="resend">ReSend Code</h6>
    </div>


</ion-content>