page-verification {
    .content {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        .headerColor {
            width: 100%;
            height: 30%;
            margin-top: 0%;
            position: absolute;
            background-color: color($colors, primary);
        }
        .headerColor h6 {
            font-size: 25px;
            padding: 0px;
            border: 0%;
            margin-top: 15%;
            margin-left: 35%;
            height: 20%;
            color: white;
        }
        .label h6 {
            color: rgb(0, 0, 0);
            margin-top: 70%;
            text-align: center;
        }
        
        .sendButton {
            margin-top: 20%;
            margin-left: 42%;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .ReSend {
            margin-left: 37%;
        }
        
    }
    .imgMargin {
        margin-left: 35%;
    }
    .resend {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #partitioned {
        padding-left: 15px;
        letter-spacing: 42px;
        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 50px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 220px;
        min-width: 220px;
    }
    #divInner {
        left: 0;
        position: sticky;
    }
    #divOuter {
        margin-left: 25%;
        margin-top: 20%;
        width: 190px;
        overflow: hidden
    }
}