page-profile {
    .imageCol {
        // height: 50px;
        // max-width: 80px
    }
    .userImage {
        background-size: 100% 100%;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        
        // position: relative;
        // width: 80%;
        // padding-bottom: 80%;
        
        // border-radius: 50%;
    }
    .contentIconCol {
        max-width: 10%;
        padding-top: 1%;
        /* varun align the icon center */
        text-align: center;
    }
    .contentIcon {
        font-size: 25px;
        margin-top: 25%
    }
    .contentInputCol {
        padding-left: 8%;
    }
    .radidRow {
        padding-bottom: 2%;
        padding-top: 3%;
        width: 80%;
        /* varun-- commented this to align the content center */
        // margin-top: 2%;
        margin-left: 4%;
    }
    @media screen and (min-width: 550px) {
        .radidRow{
            padding-top: 2%;
        }
    }
    @media screen and (min-width: 760px) {
        .radidRow{
            padding-bottom: 1%;
        }
    }
    .button-md-primary.activated {
        background-color: transparent;
    }
    .button-ios-primary.activated {
        background-color: transparent;
    }
    .radioCol1 {
        max-width: 30%;
        padding-left: 10%;
        padding-top: 1%;
    }
    .radioCol2 {
        max-width: 30%;
        padding-top: 1%;
    }
    .radioLabel {
        float: left;
        margin: 0px
    }
    .radio-ios {
        width: 70px;
        margin-left: -60px;
        padding-left: 65px;
        /* varun- using this to align the radio in center  */
        margin-top: 2%;
    }
    .radio-md {
        width: 70px;
        margin-left: -60px;
        padding-left: 65px;
        margin-top: 2%;
    }
    .dateCol {
        padding-left: 10%;
    }
    .dateTag {
        padding-left: 0%;
    }
    .datetime-disabled,
    .item-datetime-disabled ion-label {
        opacity: .7;
        pointer-events: none;
    }
    .ioncol-select {
        max-width: 20%;
        padding: 0px;
        margin-left: -2%;
        .select-text {
            text-overflow: clip !important;
        }
        .select {
            max-width: 80%;
            border-right: 1px solid rgb(156, 154, 154);
            text-overflow: clip !important;
            box-sizing: content-box;
            padding-right: 0%;
        }
        .select-md .select-icon .select-icon-inner {
            color: rgba(255, 255, 255, 0.7);
        }
        .select-ios .select-icon .select-icon-inner {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .select-disabled,
    .item-select-disabled ion-label {
        opacity: .7;
    }
    .selectTag {
        padding-left: 4%;
    }
    .myButton {
        margin-top: 7%
    }
    .stateSelect {
        .select-md {
            max-width: 100%;
        }
    }
    ion-label {
        margin: 0;
        display: initial;
    }
    .label-md {
        margin: 0px 0px 0px 0;
    }
    .col {
        padding: 0px;
        padding-left: 4%;
    }
    .profileRow {
        border-bottom: 1px solid;
        max-height: 30%;
        padding-left: 2%;
    }
    .colIcon {
        font-size: 25px;
        margin-top: 30%;
        color: color($colors, primary);
    }
    .text-input-ios {
        padding-left: 0px;
        margin-left: 8px;
    }
    .emailInput {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 8px;
        background-color: white;
    }
    .text-input-md {
        padding-left: 0px;
        margin-left: 8px;
    }
    .datetime-text {
        padding-left: 10px;
    }
    .errorMsg {
        border-bottom: none !important;
    }
    .text-input[disabled] {
        opacity: .7;
    }
    .select-ios {
        max-width: 80%;
    }
    .changePasswordIcon {
        margin: 13px 20px;
    }
    .changePasswordLabel {
        width: 100%;
        background-color: white;
        box-shadow: none;
        padding: 0%;
        padding-right: 20%;
        font-size: 1.0em
    }
    /* varun to align the butten to left */
    .changePasswordLabel .button-inner {
        justify-content: left;
    }

    .phoneInput {
        margin-top: 10px;
        background-color: white;
    }
}