<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding>
  <ion-grid class="grid">
    <ion-row text-capitalize class="profileRow">
      <!-- <ion-col class="contentIconCol">
        <ion-icon color="primary" name="md-person" class="contentIcon"></ion-icon>
      </ion-col> -->
      <ion-col class="imageCol" (click)="presentActionSheet()">
        <img class="userImage" *ngIf="imageUrl" [src]="imageUrl" onerror="this.src='assets/imgs/chat1.jpg'" >
      </ion-col>
      <ion-col col-9 class="contentInputCol">
        <!-- Rincy proper coding -->
        <ion-input #username="ngModel" required [disabled]="customer?.customerType === 'SECONDARY'" text-capitalize
          [(ngModel)]="customer.name" placeholder="Username"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="username.touched && username.invalid || nullCheck && !customer.name" class="errorMsg">
      <ion-label color="danger">
        * name is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="md-phone-portrait" class="contentIcon"></ion-icon>
      </ion-col>
      <ion-col class="ioncol-select">
        <ion-select [disabled]="true" [disabled]="customer?.customerType === 'SECONDARY'" class="select" [(ngModel)]="countryCode"
          no-margin>
          <ion-option value="+1">+1 &nbsp;&nbsp;&nbsp; United States</ion-option>
          <ion-option value="+91">+91 &nbsp; India</ion-option>
        </ion-select>

      </ion-col>
      <ion-col col-8>
        <input #userphone="ngModel" required placeholder="Mobile Number" type="number" [disabled]="customer?.customerType === 'SECONDARY'"
          [(ngModel)]="customer.phoneNum" class="phoneInput" oninput="this.value=this.value.replace(/^[0]?[0]/g,'')">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="userphone.touched && userphone.invalid || nullCheck && !customer.phoneNum" class="errorMsg">
      <ion-label color="danger">
        * Mobile Number is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="mail" class="contentIcon"></ion-icon>
      </ion-col>
      <ion-col col-8>
     
        <input #email="ngModel" required type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [disabled]="customer?.customerType === 'SECONDARY'"
          [(ngModel)]="customer.emailId" placeholder="Email-id" class="emailInput" />
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="email.touched && email.invalid || nullCheck && !customer.emailId" class="errorMsg">
      <ion-label color="danger">
        * Email-id is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="md-man" color="primary" class="colIcon"></ion-icon>
      </ion-col>
      <ion-row text-capitalize radio-group [(ngModel)]="customer.gender" class="radidRow">
        <ion-col class="radioCol2">
          <ion-label class="radioLabel">Male</ion-label>
          <ion-radio class="radioTag" [disabled]="customer?.customerType === 'SECONDARY'" value="Male"></ion-radio>
        </ion-col>
        <ion-col class="radioCol2">
          <ion-label class="radioLabel">Female</ion-label>
          <ion-radio class="radioTag" value="Female" [disabled]="customer?.customerType === 'SECONDARY'"></ion-radio>
        </ion-col>
        <ion-col class="radioCol2">
          <ion-label class="radioLabel">Other</ion-label>
          <ion-radio class="radioTag" value="Other" [disabled]="customer?.customerType === 'SECONDARY'"></ion-radio>
        </ion-col>
      </ion-row>
    </ion-row>
   

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="md-calendar" color="primary" class="colIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="dateCol">
        <ion-datetime #dob="ngModel" required placeholder="Date of Birth" [disabled]="customer?.customerType === 'SECONDARY'"
          class="dateTag" [(ngModel)]="customer.dob" [max]="date">
        </ion-datetime>
      </ion-col>

    </ion-row>
    <ion-row *ngIf="dob.touched && dob.invalid  || nullCheck && !customer.dob" class="errorMsg">
      <ion-label color="danger">
        * Date of Birth is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="pin" class="contentIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">

        <ion-select #state="ngModel" required placeholder="State" [disabled]="customer?.customerType === 'SECONDARY'"
          [(ngModel)]="customer.state" class="selectTag" (ionChange)="loadCities()" interface="popover" no-margin>
          <ion-option value="{{state.name}}" *ngFor="let state of stateList">{{state.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="state.touched && state.invalid  || nullCheck && !customer.state" class="errorMsg">
      <ion-label color="danger">
        * State is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="pin" class="contentIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">

        <ion-select #city="ngModel" required placeholder="City" [disabled]="customer?.customerType === 'SECONDARY'"
          [(ngModel)]="customer.city" class="selectTag" interface="popover" no-margin>
          <ion-option *ngFor="let city of citiesList">{{city}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="city.touched && city.invalid  || nullCheck && !customer.city" class="errorMsg">
      <ion-label color="danger">
        * City is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contentIconCol">
        <ion-icon color="primary" name="lock" class="contentIcon"></ion-icon>
      </ion-col>
      <ion-col class="contentInputCol" (click)="passwordChange()">
       

        <button ion-button color="primary" class="changePasswordLabel" icon-right>
          Change Password
          <ion-icon color="primary" class="changePasswordIcon" name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <div text-capitalize class="myButton" text-center>
      <button [disabled]="customer?.customerType === 'SECONDARY'" ion-button color="primary" (click)="save()">
        Save
      </button>
      <button [disabled]="customer?.customerType === 'SECONDARY'" ion-button color="primary" (click)="addMember()">
        Add Member
      </button>
    </div>
  </ion-grid>
</ion-content>
