page-provider-chat {
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #222;
    background-color: transparent;
}
.list-ios > .item-block:first-child {
  border-top : none
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}

}
