<ion-header>
    <ion-navbar color="provider">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Chat</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>

    <ion-list >
      <ion-item (click)="setUser(i)" *ngFor="let listUser of toUser; let i=index">
        <ion-avatar item-left>
          <img  [src]="listUser.message.image" onerror="this.src='assets/imgs/chat1.jpg'" >
        </ion-avatar>
        <!-- Rincy proper coding -->
        <h2>{{listUser?.message?.CUSTOMER_NAME}}</h2>
        <p>{{listUser?.message?.message}}</p>
        <p item-right>{{listUser?.message?.time|date:'shortTime'}}<br/>&nbsp;{{listUser?.message?.time|date:'M / d'}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
