<div id="custom-overlay" >
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/qbuster.png">        
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
  