<ion-content no-bounce>
  <ion-list>
    <ion-card class="card" *ngFor="let item of appointments" [hidden]="dateCompare(item)">

      <ion-row class="rowBorder">
        <ion-col col-4 class="rowCol">
          <div class="col1">
            <!-- Rincy proper coding -->
            <h5 class="itemDate"> {{item?.aptDate | date :'dd'}}</h5>
            <h5 class="itemMonthHeading"> {{item?.aptDate | date :'MMM'}}</h5>
            <h5 class="sessionTime" *ngIf="!item.aptSlot">
              {{item?.provider?.sessionDetails?.sessions[item?.sessionNumber]?.startTime}} -
              {{item?.provider?.sessionDetails?.sessions[item?.sessionNumber]?.endTime
              }}
            </h5>
            <h5 class="sessionTime" *ngIf="item?.aptSlot">
              <!-- Rincy proper coding -->
              {{item?.aptSlot}}
            </h5>
          </div>
        </ion-col>
        <ion-col col-8>
          <ion-row class="clientRow">
            <!-- Rincy proper coding -->
            <ion-col class="itemClientName" text-capitalize> {{item?.provider?.name}} </ion-col>
            <ion-col class="confirmed" text-capitalize>Confirmed</ion-col>
          </ion-row>
          <div class="cityDivMargin">
            <!-- Rincy proper coding -->
            <h5 class="cityItemMargin">{{item?.provider?.providerDetails?.city}}</h5>
          </div>
          <div class="nameDivMargin" text-capitalize>
            <!-- Rincy proper coding -->
            <strong class="nameColor">For:</strong> {{item?.customer?.name}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="rowTwoHeight">
        <!-- Rincy proper coding -->
        <ion-col col-8 *ngIf="item?.aptSlot">
          <div class="appointmentDiv">My Appointment</div>
          <!-- Rincy proper coding -->
          <div class="appointmentTimeDiv">{{item?.aptSlot}}</div>
        </ion-col>
        <ion-col col-8 *ngIf="!item?.aptSlot">
          <div class="appointmentDiv">My Token</div>
          <div class="appointmentTimeDiv">
            <!-- Rincy proper coding -->
            {{item?.provider?.sessionDetails?.tokenPrefix}}{{item?.tokenNumber}}{{item?.provider?.sessionDetails?.tokenSuffix}}
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="appointmentDiv">
            <button class="rescheduleButton" clear>Closed</button>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>
</ion-content>