page-home {
    .toolbar-background {
        background: #fff;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 2.8rem;
    }
    .slide-image {
        max-height: 90%;
        max-width: 100%;
        background-size: cover;
        margin: 0 0;
        object-fit: cover;
    }
    .addButton {
        text-align: center;
        max-height: 100%;
        width: 30%;
        height: 30%;
        background-image: url("../assets/imgs/add-queue.png");
        background-size: 100% 100%;
        margin-bottom: 10%;
        margin-top: 7%
    }
    .viewButton {
        text-align: center;
        width: 40%;
        height: 30%;
        max-height: 100%;
        background-image: url("../assets/imgs/calender.png");
        background-size: 100% 100%;
        margin-bottom: 10%;
        margin-top: 3%
    }
    .cardHeader {
        margin-top: 3%;
        display: block;
        // font-size: 1.4em;
        /* varun responsive-- responsive font */
        font-size: 3.5vw;
        font-weight: 600;
    } //  Rincy proper coding
    .viewTokenGif {
        margin-top: 1%;
        /* varun responsive.. -- comment this for align center */
        // display: block;
        font-size: 1.4em;
        background-image: url("../assets/imgs/words.png");
        background-size: 100% 100%;
        width: 100%;
        height: 10%;
    }
    /* varun responsive-- for tab view */
    @media screen and (min-width: 750px) {
        .viewTokenGif{
             /* display: flex; 
    /* justify-content: center; */
    /* display: block; */
    /* font-size: 1.2em; */
    background-image: url(../assets/imgs/words.gif);
    background-size: 100% 100%;
    width: 70%;
    height: 10%;
            
        }
      }
    .card {
        height: 100%;
        box-shadow: inset 1px 6px 12px color($colors, primary), inset -1px -10px 5px color($colors, primary), 5px 5px 5px #c1a467;
    }
    @media screen and (min-width: 650px) {
            .card-md {
                margin: 20px;
                width: calc(100% - 45px);            
        }
        .card-ios {
            margin: 20px;
            width: calc(100% - 45px);            
    }
      }
    .swiper-pagination-bullet-active {
        background: color($colors, primary);
    }
    .alert-md .alert-button-group {
        justify-content: center;
        padding: 8px 15px 0px 15px;
    }
    .alert-md .alert-wrapper {
        border-radius: 15px;
    }
    .alert-md .alert-button {
        text-align: center;
        border-radius: 15px 15px 2px 2px;
        color: #f4f4f4;
        background-color: color($colors, primary);
        margin: 0 4px 0 4px;
    }
    .contentGrid {
        padding: 0px
    } // Rincy proper coding
    .getTokenDiv {
        font-size: 3.5vw;
        margin-left: 2%;
        margin-right: 2%;
        text-transform: none;
        padding-bottom: 2%
    }
    /* varun responsive-- if any issues found in above fontsize uncomment the below code */
    // @media screen and (min-width: 750px) {
    //     .getTokenDiv{    
    //         font-size: 25px;
    //     }
    //   }
    .tokenRow {
        height: 40%;
        color: white;
        margin-top: -5%;
    }
    .contentSlides {
        width: 100%;
        height: 55%
    }
    .slideImg {
        width: 100%;
        height: 100%;
    }
    .upcommingDiv {
        margin-top: 2%;
        font-size: 3vw;
    }
    .font-size{
        font-size: 3vw;
    }
}
