<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeMenu()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid class="contentGrid">
    <ion-slides pager autoplay="3000" loop=true class="slides" speed="1000" class="contentSlides">
      <ion-slide *ngFor="let item of slide" class="slide-image">
          <!-- Rincy proper coding -->
        <img [src]="item?.image" class="slideImg" />

      </ion-slide>
    </ion-slides>
    <ion-row class="tokenRow">
      <ion-col>
        <ion-card class="card" text-center (click)="getToken()" color="primary">
          <ion-row class="cardHeader">
            Get
          </ion-row>
          <button ion-button clear class="viewTokenGif">
          </button>
          <button ion-button clear class="viewButton" no-margin></button>
          <div text-center class="getTokenDiv">"Your Health Is Our Highest Priority"</div>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card class="card" text-center (click)="viewToken()" color="primary">
          <ion-row class="cardHeader">
            View
          </ion-row>
          <button ion-button clear class="viewTokenGif">
          </button>
          <button ion-button clear class="viewButton" no-margin></button>
          <!-- Rincy proper coding -->
          <div class="font-size">Today &nbsp; &nbsp; &nbsp; &nbsp; : {{todaysToken?.length}} </div>
          <div></div>
          <!-- Rincy proper coding -->
          <div class="upcommingDiv">Upcoming : {{upcoming?.length}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>