page-help {

   .itemTextarea {
        width: 100%;
        border: 2px solid #dedede;
        margin-top: 5%;
        margin-bottom: 25%;
        border-radius: 10px
    }
    .message{
        margin-top: 5%;
        font-size: 1.2em;
    }
    textarea {

        height: 65px;
      }
   
    .myItem{
        border-bottom: 2px solid #dedede;
        color: #585858;
    }
    .text-input-ios {
        margin: 11px 8px 11px 8px;
        padding: 0;
        width: calc(100% - 8px);
    }
     .text-input-md {
         margin: 11px 8px 11px 8px;
         padding: 0;
         width: calc(100% - 8px);
     }
    .p{
        margin-top: 20%;
        text-align: center;
        opacity: .6;
    }
    .content-ios {
        color: #000;
        background-color: #e0e0e0;
    }
    .notes-item{
        background-color: transparent;
        padding: 0px ; 
        width: 100%;
        margin-top: 2%;
      }
    .content-md {
        color: #000;
        background-color: #e0e0e0;
    }
    .send {
        border-radius: 50%;
        height: 3.8em;
        width: 3.8em;
        font-size: 1.6rem;
        color: #000;
        background-color: #F6BB42;
        margin-left: 40%;
        margin-bottom: -45px;
    }
    [icon-only] ion-icon {
        padding: 0 0.5em;
        font-size: 2.8em;
        line-height: .67;
        pointer-events: none;
        color: white;
    }
    ion-card {
        display: block;
        overflow: initial;
    }
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #222;
        background-color: transparent;
    }
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default {
        color: #222;
        background-color: transparent;
    }
}
