<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Help and Support</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding>
    <ion-item no-padding class="myItem">
      <ion-label floating>Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item no-padding class="myItem">
      <ion-label floating>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <p class="message">Message</p>
    <div class="notes-item" no-lines>
      <ion-textarea class="itemTextarea" placeholder="Type your query here..."></ion-textarea>
    </div>
    <button ion-button icon-only class="send">
      <ion-icon name="paper-plane"></ion-icon>
    </button>

  </ion-card>

  <p class="p"> We will reach you within 24 hrs </p>

</ion-content>