

<ion-content padding>
    <form >

        <!-- <ion-list >
          <ion-item >
            <ion-label fixed color="primary">
              Pincode</ion-label>
            <ion-input (focusout)="autoLoadCities()" [(ngModel)]="zipCode" required name="Zipcode" type="text"
              spellcheck="false" autocapitalize="off">
            </ion-input>
          </ion-item>

          <ion-item *ngIf="zipState">
            <ion-label fixed color="primary">
              State</ion-label>
            <ion-input [(ngModel)]="zipState" required name="zipState" type="text" spellcheck="false" autocapitalize="off">
            </ion-input>
          </ion-item>

          <ion-item *ngIf="zipCity">
            <ion-label fixed color="primary">City</ion-label>
            <ion-input [(ngModel)]="zipCity" required name="zipCity" type="text" spellcheck="false" autocapitalize="off">
            </ion-input>
          </ion-item>
        </ion-list> -->
      </form>
</ion-content>
