<ion-header>
  <ion-navbar color="primary" no-border>
    <ion-title text-capitalize>
      {{token?.provider?.name}}
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content no-padding>
    <p class="dateP">
        {{token?.aptDate | date}}
      </p>

    
    <!-- Rincy proper coding -->
    <ion-row class="tokenRow" *ngIf="!token?.aptSlot">
      <ion-row class="currentTextRow">
        <h5 class="currentText"> Current Token</h5>
      </ion-row>
      <ion-row class="currentToken">
        <h5 class="currentTokenH5" *ngIf="current()">{{token?.provider?.sessionDetails?.tokenPrefix}}{{currentToken?.currentToken}}{{token?.provider?.sessionDetails?.tokenSuffix}}</h5>
        <h5 class="currentTokenH5" [hidden]="current()">0</h5>
      </ion-row>
      <ion-row class="myTokenRow">
        My Token &nbsp;&nbsp; : &nbsp;&nbsp;
        {{token?.provider?.sessionDetails?.tokenPrefix}}{{token?.tokenNumber}}{{token?.provider?.sessionDetails?.tokenSuffix}}

      </ion-row>
    </ion-row>
    <!-- Rincy proper coding -->
    <ion-row class="tokenRow" *ngIf="token?.aptSlot">
      <ion-row class="currentTextRow">
        <h5 class="currentText"> Appointment at</h5>
      </ion-row>
      <ion-row class="currentToken">
        <h5 class="appointment">{{token?.aptSlot}}</h5>
      </ion-row>
    </ion-row>


  <ion-row class="iconsRow">
    <ion-col col-3 (click)="navigation()" >
      <p class="iconText">Navigation</p>
      <button>
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 (click)="chat()">
      <p class="iconText">Chat</p>
      <button>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 (click)="reshedule()">
      <p class="iconText">Reshedule</p>
      <button>
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 (click)="delete()">
      <p class="iconText">Cancel</p>
      <button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-card class="icon-color">
    <ion-row>
      <ion-col col-2>
        <ion-icon name="list" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2 class="categoryText">Category</h2>
        <p>{{token?.provider?.providerDetails?.providerSector}}</p>
      </ion-col>
    </ion-row>
    <hr>


    <ion-row>
      <ion-col col-2>
        <ion-icon name="pin" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2 class="categoryText">Address</h2>
        <p>{{token?.provider?.name}}</p>
        <p>{{token?.provider?.providerDetails?.city}}</p>
        <p>{{token?.provider?.providerDetails?.state}}</p>
      </ion-col>
    </ion-row>
    <br>
    <hr>
    <ion-row>

      <p class="bookedForText">Booked For&nbsp;&nbsp;:</p>
      <p class="bookedForName" text-capitalize>{{token?.customer?.name}}</p>
    </ion-row>
    <br>

  </ion-card>

</ion-content>