<ion-header>

  <ion-navbar color="primary">
    <ion-buttons style="float:left">
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Member Profile</ion-title>
    <!-- <button ion-button icon-only class="popover">
      <ion-icon name="more"></ion-icon>
    </button> -->
    <ion-buttons end>
      <!-- if you want popover use this -->
      <!-- <button ion-button icon-only (click)="presentPopover($event)"> -->
      <button *ngIf="hideMe" ion-button icon-only (click)="toggleEdit()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<!-- <ion-content class="content-color">

  <ion-row class="edit-options" *ngIf="!hideMe">
    <ion-col col-6 class="align seperator" (click)="close()">
      CANCEL
    </ion-col>
    <ion-col col-6 class="align" (click)="save()"  *ngIf="!email.invalid">
      SAVE
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-list no-lines>


      <ion-item no-lines>
        <ion-icon name="md-person" item-start color="primary"></ion-icon>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input class="color" #username="ngModel" required placeholder="Name" [disabled]="disable" [(ngModel)]="currentMember.name"></ion-input>
      </ion-item>
      <ion-row *ngIf="username.invalid" class="errorMsg">
        <ion-label color="danger">
          * name is required.
        </ion-label>
      </ion-row>
      <div class="hr"></div>


      <ion-row radio-group [(ngModel)]="currentMember.gender">

        <ion-col col-4>
          <ion-item>
            <ion-label class="radioLabel">Male</ion-label>
            <ion-radio value="Male" [disabled]="disable"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="remove-padding">
            <ion-label class="radioLabel">Female</ion-label>
            <ion-radio value="Female" [disabled]="disable"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="remove-padding">
            <ion-label class="radioLabel">other</ion-label>
            <ion-radio value="Other" [disabled]="disable"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="hr"></div>

      <ion-item>
        <ion-icon name="md-calendar" item-start color="primary"></ion-icon>
        <ion-label color="primary" stacked>Date Of Birth</ion-label>
        <ion-datetime class="color" placeholder="Date of Birth" [(ngModel)]="currentMember.dob" [disabled]="disable"></ion-datetime>
      </ion-item>
      <div class="hr"></div>

      <ion-item>
        <ion-icon name="contacts" item-start color="primary"></ion-icon>
        <ion-label color="primary" stacked>Relation</ion-label>
        <ion-select class="color" [disabled]="disable" [(ngModel)]="currentMember.relationship">
          <ion-option class="color" *ngFor="let relation of relationsList">{{relation}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="hr"></div>

      
      <div *ngIf="currentMember.hasOwnIdFlag == true && currentMember.emailId != null">
        <ion-item>
          <ion-icon name="tablet-portrait" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Email </ion-label>
          <ion-input class="color" #email="ngModel" required placeholder="Email" [disabled]="disable" [(ngModel)]="currentMember.emailId" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
        </ion-item>
        <ion-row *ngIf="email.invalid" class="errorMsg">
          <ion-label color="danger">
            * Email is required.
          </ion-label>
        </ion-row>
      </div>
      <div class="hr"></div>

      <div *ngIf="currentMember.hasOwnIdFlag == true && currentMember.phoneNum != null">
        <ion-item>
          <ion-icon name="tablet-portrait" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Phone </ion-label> 
         
            <ion-input class="color" required #phone="ngModel" type="number" placeholder="Phone number" [disabled]="disable"
            [(ngModel)]="currentMember.phoneNum" pattern="[1-9]{1}[0-9]{9}"></ion-input>
        </ion-item>
        <ion-row *ngIf="phone.invalid" class="errorMsg">
          <ion-label color="danger">
            * Phone number is required.
          </ion-label>
        </ion-row>
      </div>
      <div class="hr"></div>

      
      <div *ngIf="currentMember.hasOwnIdFlag == true">
        <ion-item>
          <ion-icon item-start [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          <ion-label color="primary" stacked>Password</ion-label>
          <ion-input class="color" required #password="ngModel" [type]="passwordType" clearOnEdit="false" [disabled]="disable"
            [(ngModel)]="currentMember.name">
          </ion-input>
        </ion-item>
        <ion-row *ngIf="password.invalid" class="errorMsg">
          <ion-label color="danger">
            * password is required.
          </ion-label>
        </ion-row>
      </div>
      <div class="hr"></div>

    </ion-list>
  </ion-card>

  <ion-card *ngIf="hideMe" (click)="delete()">
    <ion-list no-lines>
      <button ion-item>
        <ion-icon name="trash" item-start color="primary"></ion-icon>
        <ion-label>Delete Account</ion-label>
      </button>
    </ion-list>
  </ion-card>


</ion-content> -->



<ion-content class="content-color">
  <form [formGroup]="memberForm" *ngIf="currentMember.emailId != null">
    <ion-row class="edit-options" *ngIf="!hideMe">
      <ion-col col-6 class="align seperator" (click)="close()">
        CANCEL
      </ion-col>
      <ion-col col-6 class="align">
        <button ion-button (click)="save()" [disabled]="!memberForm.valid" class="button-color">SAVE</button>

      </ion-col>
    </ion-row>

    <ion-card>
      <ion-list no-lines>


        <ion-item no-lines>
          <ion-icon name="md-person" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Name</ion-label>
          <ion-input class="color" [formControl]="memberForm.controls['name']" required placeholder="Name" [disabled]="disable"
            [(ngModel)]="currentMember.name"></ion-input>
        </ion-item>
        <ion-row *ngIf="memberForm.controls['name'].invalid" class="errorMsg">
          <ion-label color="danger">
            * name is required.
          </ion-label>
        </ion-row>
        <div class="hr"></div>


        <ion-row radio-group [(ngModel)]="currentMember.gender" [formControl]="memberForm.controls['gender']">

          <ion-col col-4>
            <ion-item>
              <ion-label class="radioLabel">Male</ion-label>
              <ion-radio value="Male" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item class="remove-padding">
              <ion-label class="radioLabel">Female</ion-label>
              <ion-radio value="Female" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item class="remove-padding">
              <ion-label class="radioLabel">other</ion-label>
              <ion-radio value="Other" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <div class="hr"></div>

        <ion-item>
          <ion-icon name="md-calendar" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Date Of Birth</ion-label>
          <ion-datetime [formControl]="memberForm.controls['date']" class="color" placeholder="Date of Birth"
            [(ngModel)]="currentMember.dob" [disabled]="disable"></ion-datetime>
        </ion-item>
        <div class="hr"></div>

        <ion-item>
          <ion-icon name="contacts" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Relation</ion-label>
          <ion-select [formControl]="memberForm.controls['relation']" class="color" [disabled]="disable" [(ngModel)]="currentMember.relationship">
            <ion-option class="color" *ngFor="let relation of relationsList">{{relation}}</ion-option>
          </ion-select>
        </ion-item>
        <div class="hr"></div>


        <div *ngIf="currentMember.hasOwnIdFlag == true">
          <ion-item>
            <ion-icon name="tablet-portrait" item-start color="primary"></ion-icon>
            <ion-label color="primary" stacked>Email </ion-label>
            <ion-input class="color" [formControl]="memberForm.controls['email']" required placeholder="Email"
              [disabled]="disable" [(ngModel)]="currentMember.emailId" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
          </ion-item>
          <ion-row *ngIf="memberForm.controls['email'].invalid" class="errorMsg">
            <ion-label color="danger">
              * Email is required.
            </ion-label>
          </ion-row>
        </div>
        <div class="hr"></div>

      


        <div *ngIf="currentMember.hasOwnIdFlag == true">
          <ion-item>
            <ion-icon item-start [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            <ion-label color="primary" stacked>Password</ion-label>
            <ion-input class="color" required [formControl]="memberForm.controls['password']" [type]="passwordType"
              clearOnEdit="false" [disabled]="disable" [(ngModel)]="currentMember.name">
            </ion-input>
          </ion-item>
          <ion-row *ngIf="memberForm.controls['password'].invalid" class="errorMsg">
            <ion-label color="danger">
              * password is required.
            </ion-label>
          </ion-row>
        </div>
        <div class="hr"></div>

      </ion-list>
    </ion-card>

    <ion-card *ngIf="hideMe" (click)="delete()">
      <ion-list no-lines>
        <button ion-item>
          <ion-icon name="trash" item-start color="primary"></ion-icon>
          <ion-label>Delete Account</ion-label>
        </button>
      </ion-list>
    </ion-card>
  </form>


  <form [formGroup]="memberForm2" *ngIf="currentMember.phoneNum != null">
    <ion-row class="edit-options" *ngIf="!hideMe">
      <ion-col col-6 class="align seperator" (click)="close()">
        CANCEL
      </ion-col>
      <ion-col col-6 class="align">
        <button ion-button (click)="save()" [disabled]="!memberForm2.valid" class="button-color">SAVE</button>

      </ion-col>
    </ion-row>

    <ion-card>
      <ion-list no-lines>


        <ion-item no-lines>
          <ion-icon name="md-person" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Name</ion-label>
          <ion-input class="color" [formControl]="memberForm2.controls['name']" required placeholder="Name" [disabled]="disable"
            [(ngModel)]="currentMember.name"></ion-input>
        </ion-item>
        <ion-row *ngIf="memberForm2.controls['name'].invalid" class="errorMsg">
          <ion-label color="danger">
            * name is required.
          </ion-label>
        </ion-row>
        <div class="hr"></div>


        <ion-row radio-group [(ngModel)]="currentMember.gender" [formControl]="memberForm2.controls['gender']">

          <ion-col col-4>
            <ion-item>
              <ion-label class="radioLabel">Male</ion-label>
              <ion-radio value="Male" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item class="remove-padding">
              <ion-label class="radioLabel">Female</ion-label>
              <ion-radio value="Female" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item class="remove-padding">
              <ion-label class="radioLabel">other</ion-label>
              <ion-radio value="Other" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <div class="hr"></div>

        <ion-item>
          <ion-icon name="md-calendar" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Date Of Birth</ion-label>
          <ion-datetime [formControl]="memberForm2.controls['date']" class="color" placeholder="Date of Birth"
            [(ngModel)]="currentMember.dob" [disabled]="disable"></ion-datetime>
        </ion-item>
        <div class="hr"></div>

        <ion-item>
          <ion-icon name="contacts" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Relation</ion-label>
          <ion-select [formControl]="memberForm2.controls['relation']" class="color" [disabled]="disable" [(ngModel)]="currentMember.relationship">
            <ion-option class="color" *ngFor="let relation of relationsList">{{relation}}</ion-option>
          </ion-select>
        </ion-item>
        <div class="hr"></div>


      

        <div *ngIf="currentMember.hasOwnIdFlag == true">
          <ion-item>
            <ion-icon name="tablet-portrait" item-start color="primary"></ion-icon>
            <ion-label color="primary" stacked>Phone </ion-label>

            <ion-input class="color" required [formControl]="memberForm2.controls['phone']"  type="number" placeholder="Phone number"
              [disabled]="disable" [(ngModel)]="currentMember.phoneNum" pattern="[1-9]{1}[0-9]{9}"  ></ion-input>
          </ion-item>
          <ion-row *ngIf="memberForm2.controls['phone'].invalid" class="errorMsg">
            <ion-label color="danger">
              * Phone number is required.
            </ion-label>
          </ion-row>
        </div>
        <div class="hr"></div>


        <div *ngIf="currentMember.hasOwnIdFlag == true">
          <ion-item>
            <ion-icon item-start [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            <ion-label color="primary" stacked>Password</ion-label>
            <ion-input class="color" required [formControl]="memberForm2.controls['password']" [type]="passwordType"
              clearOnEdit="false" [disabled]="disable" [(ngModel)]="currentMember.name">
            </ion-input>
          </ion-item>
          <ion-row *ngIf="memberForm2.controls['password'].invalid" class="errorMsg">
            <ion-label color="danger">
              * password is required.
            </ion-label>
          </ion-row>
        </div>
        <div class="hr"></div>

      </ion-list>
    </ion-card>

    <ion-card *ngIf="hideMe" (click)="delete()">
      <ion-list no-lines>
        <button ion-item>
          <ion-icon name="trash" item-start color="primary"></ion-icon>
          <ion-label>Delete Account</ion-label>
        </button>
      </ion-list>
    </ion-card>
  </form>

  <form [formGroup]="memberForm3" *ngIf="currentMember.hasOwnIdFlag == false">
    <ion-row class="edit-options" *ngIf="!hideMe">
      <ion-col col-6 class="align seperator" (click)="close()">
        CANCEL
      </ion-col>
      <ion-col col-6 class="align">
        <button ion-button (click)="save()" [disabled]="!memberForm3.valid" class="button-color">SAVE</button>

      </ion-col>
    </ion-row>

    <ion-card>
      <ion-list no-lines>


        <ion-item no-lines>
          <ion-icon name="md-person" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Name</ion-label>
          <ion-input class="color" [formControl]="memberForm3.controls['name']" required placeholder="Name" [disabled]="disable"
            [(ngModel)]="currentMember.name"></ion-input>
        </ion-item>
        <ion-row *ngIf="memberForm3.controls['name'].invalid" class="errorMsg">
          <ion-label color="danger">
            * name is required.
          </ion-label>
        </ion-row>
        <div class="hr"></div>


        <ion-row radio-group [(ngModel)]="currentMember.gender" [formControl]="memberForm3.controls['gender']">

          <ion-col col-4>
            <ion-item>
              <ion-label class="radioLabel">Male</ion-label>
              <ion-radio value="Male" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item class="remove-padding">
              <ion-label class="radioLabel">Female</ion-label>
              <ion-radio value="Female" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item class="remove-padding">
              <ion-label class="radioLabel">other</ion-label>
              <ion-radio value="Other" [disabled]="disable"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <div class="hr"></div>

        <ion-item>
          <ion-icon name="md-calendar" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Date Of Birth</ion-label>
          <ion-datetime [formControl]="memberForm3.controls['date']" class="color" placeholder="Date of Birth"
            [(ngModel)]="currentMember.dob" [disabled]="disable"></ion-datetime>
        </ion-item>
        <div class="hr"></div>

        <ion-item>
          <ion-icon name="contacts" item-start color="primary"></ion-icon>
          <ion-label color="primary" stacked>Relation</ion-label>
          <ion-select [formControl]="memberForm3.controls['relation']" class="color" [disabled]="disable" [(ngModel)]="currentMember.relationship">
            <ion-option class="color" *ngFor="let relation of relationsList">{{relation}}</ion-option>
          </ion-select>
        </ion-item>
        <div class="hr"></div>


   

      </ion-list>
    </ion-card>

    <ion-card *ngIf="hideMe" (click)="delete()">
      <ion-list no-lines>
        <button ion-item>
          <ion-icon name="trash" item-start color="primary"></ion-icon>
          <ion-label>Delete Account</ion-label>
        </button>
      </ion-list>
    </ion-card>
  </form>


</ion-content>