page-member-details {
    .hr {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.12);
    }
    .radioLabel {
        padding: 0px;
        float: left;
        margin: 0px;
    }
    .remove-padding {
        padding: 0px;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        // border-bottom-color: #32db64;
        -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
        box-shadow: none;
        border-bottom: 1px solid #dedede;
    }
    .popover {
        // display:flex;
        float: right;
    } // .passwordIcon {
    //     font-size: 2rem !important;
    //     position: relative !important;
    //     top: 22px !important;
    //     margin: 0 auto !important;
    // }
    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    } // overridet the opacity
    .text-input[disabled] {
        opacity: 1;
    }
    .radio-md.radio-disabled,
    .item-md.item-radio-disabled ion-label {
        opacity: 1;
    }
    .radio-ios.radio-disabled,
    .item-ios.item-radio-disabled ion-label {
        opacity: 1;
    }
    .datetime-disabled,
    .item-datetime-disabled ion-label {
        opacity: 1
    }
    .select-disabled,
    .item-select-disabled ion-label {
        opacity: 1;
    }
    /* to override list arrow -vie in both android and ios */
    $icon-detail-push-background-svg: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z' fill='fg-color'/></svg>" !default;
    $item-md-detail-push-color: $list-md-border-color !default;
    @mixin md-detail-push-icon($fg-color) {
        $svg: str-replace($icon-detail-push-background-svg, 'fg-color', $fg-color);
        @include svg-background-image($svg);
    }
    button.item:not([detail-none]) .item-inner,
    a.item:not([detail-none]) .item-inner,
    .item[detail-push] .item-inner {
        @include md-detail-push-icon($item-md-detail-push-color);
        background-repeat: no-repeat;
        background-position: right (15px - 2) center;
        background-size: 14px 14px;
        padding-right: 32px;
    }
    /* change the color of the ion content */
    .content-color {
        background-color: #e8e8e8;
    }
    .align {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* cancel save button in top */
    .edit-options {
        background-color: #cececd;
        height: 40px;
    }
    /* seperator fo cancel save */
    .seperator {
        border-right: 1px solid white;
    }
    .color {
        color: black;
    }
    .back-button {
        float: left;
    }
    .button-color {
        box-shadow: none;
        background-color: #cececd;
    }
}