<ion-content padding>
  <ion-grid class="grid" no-padding>
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <ion-icon name="pin" float-left></ion-icon>
          Add Location
        </ion-card-title>
      </ion-card-content>
      <p padding-horizontal class="myText">Enter your latitude and longitude</p>
      <ion-row class="profileRow" margin>
        <ion-col class="contentIconCol">
          <ion-icon color="primary" name="pin" class="contentIcon"></ion-icon>
        </ion-col>
        <ion-col col-8 class="contentInputCol">
          <ion-input [(ngModel)]="location" placeholder="(eg:11.1245,8.235)"></ion-input>
        </ion-col>
      </ion-row>
      <p padding-horizontal class="myText1">Or click below to Auto Detect your current location</p>
      <div text-capitalize class="locate" text-center>
        <button ion-button icon-left class="locateButton" (click)="getLocation()">
          <ion-icon name="locate" class="locateIcon"></ion-icon>
          Locate Me

        </button>
      </div>
      <div text-capitalize class="myButton" text-center>
        <button ion-button color="primary" class="myButtonText" (click)="save()">
          Ok
        </button>
        <button ion-button color="primary" class="myButtonText" (click)="cancel()">
          Cancel
        </button>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>