page-add-location {
    .content-md {
        color: #000;
        background-color: rgba(158, 158, 158, 0.49);
    }
    .content-ios {
        color: #000;
        background-color: rgba(158, 158, 158, 0.49);
    }
    .card-md {
        height: 60%;
        margin-top: 20%;
    }
    .card-ios {
        height: 60%;
        margin-top: 20%;
    }
    .card-title-md {
        margin: 0px 0;
        text-align: center;
        background-color: #f6bb42;
        padding-right: 5%;
        padding-left: 5%;
    }
    .card-title-ios {
        margin: 0px 0;
        text-align: center;
        background-color: #f6bb42;
        padding-right: 5%;
        padding-left: 5%;
    }
    .card-content-md {
        padding: 0px 0px;
    }
    .card-content-ios {
        padding: 0px 0px;
    }
    .contentIconCol {
        max-width: 15%;
    }
    .text-input-md {
        margin: 0px
    }
    .text-input-ios {
        margin: 0px
    }
    .myText {
        margin-top: 8px;
        font-size: 1.2rem;
    }
    .myText1 {
        margin-top: 10%;
        font-size: 1.2rem;
    }
    .locate {
        margin-top: 5%;
    }
    .locateIcon {
        color: white;
    }
    .locateButton {
        width: 83%;
        height: 30px
    }
    .myButton {
        margin-top: 10%;
        margin-bottom: 10%
    }
    .myButtonText {
        color: white
    }
    .profileRow {
        border: 1px solid lightgray;
    }
}