.picker-md .picker-col {
    padding: 0 0;
}

.picker-ios .picker-col {
    padding: 0 0;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans.woff2)
}

* {
    font-family: "OpenSans", Arial, sans-serif;
}

.alert-md .alert-message,
.alert-md .alert-input-group {
    color: #222;
}

.alert-ios .alert-message,
.alert-md .alert-input-group {
    color: #222;
}

.select-ios .select-icon .select-icon-inner {
    left: 5px;
    color: color($colors, primary);
}

.select-ios .select-placeholder {
    color: #222;
}

.select-md .select-icon .select-icon-inner {
    left: 5px;
    color: color($colors, primary);
}

.select-md .select-placeholder {
    color: #222;
}

ion-menu {
    ion-content {
        background-color: white !important;
    }
}

.toolbar-background-ios {
    background: color($colors, primary);
}

.item-md {
    background-color: rgba(158, 158, 158, 0);
    color: color($colors, primary);
    text-transform: capitalize;
}

.item-ios {
    background-color: rgba(158, 158, 158, 0);
    color: color($colors, primary);
    text-transform: capitalize;
}

.toolbar-background-md {
    background: color($colors, primary);
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: rgba(158, 158, 158, 0);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(158, 158, 158, 0);
    box-shadow: inset 0 -1px 0 0 rgba(158, 158, 158, 0);
}

.alert-md .alert-button-group {
    justify-content: center;
    padding: 8px 15px 0px 15px;
}

.alert-md .alert-button {
    text-align: center;
    color: #f4f4f4;
    background-color: color($colors, primary);
    margin: 4px 4px 8px 4px;
    width: 40%;
}

.toolbar-background-ios {
    background: color($colors, primary);
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: rgba(158, 158, 158, 0);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(158, 158, 158, 0);
    box-shadow: inset 0 -1px 0 0 rgba(158, 158, 158, 0);
}

.alert-ios .alert-button-group {
    justify-content: center;
    padding: 8px 15px 0px 15px;
}

.alert-ios .alert-button {
    text-align: center;
    color: #f4f4f4;
    background-color: color($colors, primary);
    margin: 4px 4px 8px 4px;
    width: 40%;
}

.picker-md .picker-wrapper {
    height: 200px;
    width: 200px;
    max-height: 200px;
    margin-bottom: 50%;
}

.picker-ios .picker-wrapper {
    height: 220px;
    width: 200px;
    max-height: 220px;
    margin-bottom: 50%;
}

.picker-ios .picker-above-highlight {
    margin-top: 10px;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
    margin: 0;
    height: 40px;
    color: #ffffff;
    background: color($colors, primary);
    ;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    margin-right: 1px;
    width: 98px;
    z-index: 1000;
    opacity: 1;
}

.picker-ios .picker-button,
.picker-ios .picker-button.activated {
    margin: 0;
    height: 40px;
    color: #ffffff;
    background: color($colors, primary);
    ;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    margin-right: 1px;
    width: 98px;
    z-index: 1000;
    opacity: 1;
}

.button-md {
    font-size: 1.5rem;
}

.button-ios {
    font-size: 1.5rem;
}

.picker-md .picker-columns {
    height: 186px;
    -webkit-perspective: 1800px;
    perspective: 1800px;
    margin-top: -20px;
}

.picker-ios .picker-columns {
    height: 200px;
    margin-top: 0px;
}

.picker-ios .picker-toolbar {
    margin-left: .8px;
}

.picker-ios .picker-toolbar-button:last-child .picker-button {
    font-weight: normal;
}

//css changes for toggle button
.toggle-ios {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    contain: strict;
}

.toggle-ios .toggle-inner {
    top: -2px;
    width: 16px;
    height: 16px;
}

.toggle-md .toggle-inner {
    top: -5px;
    width: 16px;
    height: 16px;
}

.toggle-ios .toggle-icon {
    border-radius: 16px;
    border-color: #999;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

.toggle-md .toggle-icon {
    border-radius: 16px;
    border-color: #999;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

.datepicker-wrapper .datepicker-header .weekday-header {
    background-color: color($colors, primary) !important
}

.datepicker-wrapper .datepicker-header {
    background-color: #c1cccb !important
}

.button-md-primary {
    width: 40%;
}

.button-ios-primary {
    width: 40%;
}

.button-md-provider {
    width: 40%;
}

.button-ios-provider {
    width: 40%;
}

.alert-md .alert-button .button-inner {
    -webkit-justify-content: center;
    justify-content: center;
}

.alert-ios .alert-button .button-inner {
    -webkit-justify-content: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    background: rgb(136, 136, 136);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: color($colors, primary);
    opacity: 1;
}

.bar-button-md {
    font-size: 1.7rem;
}

.bar-button-ios {
    font-size: 1.7rem;
}

.slide-zoom {
    height: 100% !important;
}

// css changes for super-tabs
super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon ion-icon {
    margin-bottom: 0px;
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    height: 4.2rem;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon {
    height: 48px;
}

super-tabs-container {
    height: calc(100% - 48px) !important;
}

super-tab-button {
    &:not(.selected) {
        ion-icon,
        span:not(.badge) {
            opacity: 0.45 !important; // I want my unselected tabs to be semi-transparent.
            color: color($colors, dark); // I'm using ionic color variables, but you could set the color here like #999
        }
    }
    &.selected {
        ion-icon {
            color: color($colors, primary); // change color of selected tab icon
        }
        span:not(.badge) {
            color: color($colors, primary); // change color of selected tab label (without modifying the badge color)
        }
    }
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button .title {
    margin-top: -3px;
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container {
    background-color: #e6e6e6;
}

// css changes for radio-ios to get radio button same as android
.radio-ios .radio-checked {
    border-color: color($colors, primary);
}

.radio-ios .radio-checked .radio-inner {
    left: 2px;
    top: 2px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-width: 0px;
    border-style: solid;
    background-color: color($colors, primary);
    border-color: color($colors, primary);
    ;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-ios .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
}

input {
    border: none;
}

.contentGrid {
    width: 100%;
    height: 100%
}

ion-tabs.hidden div.tabbar {
    display: none
}

.back-button-text {
    display: none;
}

/* to make the model fit for all device */
.modal-wrapper {
    left: 0%;
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
}