<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-right: 55%">Contact_us</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-row class="map-height">
    <img src="assets/imgs/map.png" width="100%" height="100%" />
  </ion-row>
  <ion-card class="icon-color">
    <ion-row>
      <ion-col col-2>
        <ion-icon name="pin" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2>Address</h2>
        <p>7,shenbagan Street</p>
        <p>Tirunelveli</p>
      </ion-col>
    </ion-row>
    <hr>


    <ion-row>
      <ion-col col-2>
        <ion-icon name="mail" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2>Email</h2>
        <p>reksys@gmail.com</p>
      </ion-col>
    </ion-row>
    <br>
    <hr>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="globe" class="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <h2>Website</h2>
        <p>www.reksystech.com</p>
      </ion-col>
    </ion-row>
    <br>

  </ion-card>


</ion-content>