page-contact-us {

.ContactUs h5{
    text-align: center;
}

.Address h5{
     text-align: center;
}

.Address h6{
    text-align: center;
    font-size: 10px;
            
}
.pin{
    margin-left: 30%;
    margin-top: 30%;
    font-size: 30px; 
}
.map-height{
    height: 50%;   
}
.icon-color ion-icon{
    color: #F6BB42;
}

}


