<ion-header no-border >
 
    <ion-navbar color="primary" class="myNavbar"> 
      <ion-title>Appointment</ion-title>
    </ion-navbar>
     
  </ion-header>      
    
  <ion-content no-bounce> 
   
    <super-tabs tabsPlacement="top" toolbarColor="primary" indicatorColor="primary">
        <super-tab *ngFor="let page of pages" [rootParams]="navParams.data" [root]="page.pageName"  [id]="page.id" title="{{page.id}}"  >
          </super-tab>
        </super-tabs>
   
  </ion-content>       