<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Book Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <super-tabs tabsPlacement="top" toolbarColor="primary" indicatorColor="primary" >
    <super-tab [root]="tab1Root" title="By Location" [rootParams]="reshedule"></super-tab>
    <super-tab [root]="tab2Root" title=" By Pincode" [rootParams]="reshedule"></super-tab>
  </super-tabs>
</ion-content>