page-book-appointment {
    .myNavbar{
        border-bottom:3px solid #ffff
    }
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #0c0c0c;
        background-color: transparent;
    }
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default {
        color: #0c0c0c;
        background-color: transparent;
    }
}
