page-reset-password {
    .content {
        background-color:white;
        background-size: 100% auto;
    }
  
    #heading {
        float: left;
        width: 100%;
        font-size: 30px;
        color: rgb(8, 8, 8);
        position: relative;
        text-align: center;
        margin-top: 5%;
    }
    #subheading {
        float: left;
        width: 100%; // padding-top: 3%;
        padding-bottom: 3%;
        font-size: 30px;
        color: rgb(0, 0, 0);
        position: relative;
        text-align: center;
    }
    #paragraph {
        color: #0a0a0a;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20%;
        text-align: center;
    }
    .image {
        margin-top: 10%;
        margin-right: 20%;
        margin-left: 8%;
    }
    
    #rounded {
        width: 90%; // as per your requirement
        height: 30px;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0px;
        border-bottom-width: 1px solid black;
        background-color: #E6E6E6;
        margin-left: 5%;

    }
    #rounded1 {
        width: 90%; // as per your requirement
        height: 30px;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0px;
        border-bottom-width: 1px solid black;
        background-color: #E6E6E6;
        margin-left: 5%;

    }
    #rounded2 {
        width: 90%; // as per your requirement
        height: 30px;
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 0px;
        margin-left: 5%;
        background-color:  #E6E6E6;
    }
    #container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .sendButton {
        color: white;
        background-color: color($colors, primary);;
        margin-left: 60%;
        margin-top: 10%;
    }
    .error {
        color: red;
        margin-left: 10%;
        margin-top: -5%;
        padding: 0%;
    }
}