<ion-header>
  <ion-navbar color="primary">

    <ion-title class="myTitle">RESET PASSWORD</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="content">

  <div text-center class="image">
    <img src="assets/imgs/ResetPasswordIcon (1).png" width="120">
  </div>

  <div id="heading">
    Reset Your
  </div>

  <div id="subheading">
    Password?
  </div>

  <div id="paragraph">
    <p>Please Enter Your New Password
    </p>
  </div>

  <form [formGroup]="user">


    <ion-list>
      <ion-item id="rounded">
        <ion-label></ion-label>
        <ion-input type="password" placeholder="Old Password" formControlName="oldPassword" [(ngModel)]="oldPassword"></ion-input>
      </ion-item>
      <ion-item id="rounded1">
        <ion-label></ion-label>
        <ion-input type="password" placeholder="New Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item id="rounded2">
        <br>
        <ion-label></ion-label>
        <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword" [(ngModel)]="password">
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="error" *ngIf="user.hasError('notSame') && password != null">
      Password Mismatch ! Please check Again
    </div>


    <button ion-button round icon-end class="sendButton" [disabled]="user.hasError('notSame')" (click)="savePassword()">Done
      <ion-icon name="md-checkmark-circle-outline"></ion-icon>
    </button>
  </form>

</ion-content>