page-customer-add-member {
    .content-md {
        color: #000;
        background-color: rgba(158, 158, 158, 0.49);
    }
    .content-ios {
        color: #000;
        background-color: rgba(158, 158, 158, 0.49);
    }
    .card-md {
        height: 60%;
        margin-top: 20%;
    }
    .card-ios {
        height: 60%;
        margin-top: 20%;
    }
    .card-title-md {
        margin: 0px 0;
        text-align: center;
        background-color: #f6bb42;
    }
    .card-title-ios {
        margin: 0px 0;
        text-align: center;
        background-color: #f6bb42;
    }
    .card-content-md {
        padding: 0px 0px;
    }
    .card-content-ios {
        padding: 0px 0px;
    }
    .contentIconCol {
        max-width: 15%;
        // padding-top: 3%;
        padding-left: 5%;
    }
    .contentIcon {
        font-size: 25px;
        margin-top: 30%
    }
    .contentInputCol {
        padding-left: 5%;
    }
    .radidRow {
        padding-bottom: 2%;
        padding-top: 2%;
        width: 80%; // margin-top: 2%;
        margin-left: 4%;
    }
    .radioCol {
        margin-left: 4%;
        // padding-top: 5%;
    }
    .radioCol1 {
        max-width: 30%;
        padding-left: 10%;
        // padding-top: 1%;
        // padding-top: 5%;
    }
    .radioCol2 {
        max-width: 30%;
        // padding-top: 1%;
        // padding-top: 5%;
    }
    .radioLabel {
        float: left;
        margin: 0px
    }
    .radio-ios {
        width: 70px;
        margin-left: -60px;
        padding-left: 65px;
    }
    .radio-md {
        width: 70px;
        margin-left: -60px;
        padding-left: 65px;
    }
    .dateCol {
        padding-left: 5%;
    }
    .dateTag {
        padding-left: 0%;
    }
    .select-ios .select-placeholder {
        color: gray;
    }
    .select-md .select-placeholder {
        color: grey;
    }
    .selectTag {
        padding-left: 0%;
        max-width: 100%;
    }
    .stateSelect {
        padding-left: 5%;
    }
    .button-ios {
        margin: 8% 0% 10% 6%;
    }
    .button-md {
        margin: 8% 0% 10% 6%;
    }
    .profileRow {
        border-bottom: 1px solid;
        max-height: 30%;
        padding-left: 2%;
    }
    .errorMsg {
        border-bottom: none !important;
    }
    button {
        padding: 0%;
        background-color: transparent;
        color: color($colors, primary);
    }
}