<ion-content padding>
  <ion-grid class="grid" no-padding>

    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Add Member
        </ion-card-title>
        <form [formGroup]="memberForm">

          <ion-row class="profileRow">
            <ion-col class="contentIconCol">
              <ion-icon color="primary" name="md-person" class="contentIcon"></ion-icon>
            </ion-col>
            <ion-col col-8 class="contentInputCol">
              <!-- Rincy proper coding -->
              <ion-input [formControl]="memberForm.controls['name']" text-capitalize [(ngModel)]="members.name"
                placeholder="Name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="memberForm.controls['name'].errors && memberForm.controls['name'].touched" class="errorMsg">
            <ion-label color="danger">
              * Name is required.
            </ion-label>
          </ion-row>



          <ion-row radio-group class="profileRow">
            <ion-col class="contentIconCol">
              <ion-icon color="primary" name="md-man" color="primary" class="contentIcon"></ion-icon>
            </ion-col>
            <!-- Rincy proper coding -->
            <ion-row text-capitalize radio-group [(ngModel)]="members.gender" class="radidRow" [formControl]="memberForm.controls['gender']">
              <ion-col class="radioCol2">
                <ion-label class="radioLabel">Male</ion-label>
                <ion-radio class="radioTag" value="Male"></ion-radio>
              </ion-col>
              <ion-col class="radioCol2">
                <ion-label class="radioLabel">Female</ion-label>
                <ion-radio class="radioTag" value="Female"></ion-radio>
              </ion-col>
              <ion-col class="radioCol2">
                <ion-label class="radioLabel">Other</ion-label>
                <ion-radio class="radioTag" value="Other"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-row>

          <ion-row class="profileRow">
            <ion-col class="contentIconCol">
              <ion-icon color="primary" name="md-calendar" color="primary" class="contentIcon"></ion-icon>
            </ion-col>
            <ion-col col-8 class="dateCol">
              <!-- Rincy proper coding -->
              <ion-datetime [formControl]="memberForm.controls['dob']" required placeholder="Date of Birth" class="dateTag"
                [(ngModel)]="members.dob" [max]="date">
              </ion-datetime>
            </ion-col>

          </ion-row>
          <ion-row *ngIf="memberForm.controls['dob'].errors && memberForm.controls['dob'].touched" class="errorMsg">
            <ion-label color="danger">
              * Date of Birth is required.
            </ion-label>
          </ion-row>

          <ion-row class="profileRow">
            <ion-col class="contentIconCol">
              <ion-icon color="primary" name="contacts" class="contentIcon"></ion-icon>
            </ion-col>
            <ion-col col-8 class="stateSelect">
              <!-- Rincy proper coding -->
              <ion-select required placeholder="Relationship" [formControl]="memberForm.controls['relation']"
                [(ngModel)]="members.relationship" class="selectTag" interface="popover" no-margin>
                <ion-option *ngFor="let relation of relationsList">{{relation}}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="memberForm.controls['relation'].errors && memberForm.controls['relation'].touched" class="errorMsg">
            <ion-label color="danger">
              * Relation is required.
            </ion-label>
          </ion-row>

          <ion-row class="profileRow">
            <ion-col>
              <ion-item>
                <ion-label>Create Seperate Login</ion-label>
                <!-- Rincy proper coding -->
                <ion-toggle [(ngModel)]="members.hasOwnIdFlag" [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Rincy proper coding -->
          <ion-row class="profileRow" [hidden]="!members?.hasOwnIdFlag">
            <ion-col class="contentIconCol">
              <ion-icon color="primary" name="tablet-portrait" class="contentIcon"></ion-icon>
            </ion-col>
            <ion-col col-8 class="contentInputCol">
              <ion-input [formControl]="memberForm.controls['mobile_no']" [(ngModel)]="memberId" placeholder="Email / Mobile Num"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="memberForm.controls['mobile_no'].errors && memberForm.controls['mobile_no'].touched" class="errorMsg">
            <ion-label color="danger">
              * It should be email or 10 digit mobile number.
            </ion-label>
          </ion-row>
          <!-- Rincy proper coding -->
          <ion-row class="profileRow" [hidden]="!members?.hasOwnIdFlag">
            <ion-col class="contentIconCol">
              <button clear type="button" (click)="showPwd=!showPwd">
                <ion-icon *ngIf="showPwd" class="contentIcon" name="eye"></ion-icon>
                <ion-icon *ngIf="!showPwd" class="contentIcon" name="eye-off"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-8 class="contentInputCol">
              <!-- Rincy proper coding -->
              <ion-input [formControl]="memberForm.controls['password']" *ngIf="showPwd" type="text" placeholder="Password"
                [(ngModel)]="members.password"></ion-input>
              <ion-input [formControl]="memberForm.controls['password']" *ngIf="!showPwd" type="password" placeholder="Password"
                [(ngModel)]="members.password"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="memberForm.controls['password'].errors && memberForm.controls['password'].touched" class="errorMsg">
            <ion-label color="danger">
              * password should be atleast 4 digits.
            </ion-label>
          </ion-row>
        </form>

        <button ion-button color="primary" (click)="cancel()">
          Cancel
        </button>
        <button ion-button color="primary" [disabled]="!memberForm.valid" (click)="save()">
          Save
        </button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>