page-client-session {
    .session {
        width: 100%;
        margin-top: 5%;
        background-color: #EFEFEF;
        text-align: center;
        border: none;
        border-bottom: none;
        color: black;
    }
    .sessionGrid {
        width: 100%
    }
    .select {
        width: 100% !important;
    }
    ion-select {
        max-width: 100%
    }
    .cardHeader {
        background-color: color($colors, provider);
        color: white;
        padding-top: 0.5%;
    }
    .col {
        width: 10% !important;
        /* varun code change to fit the content in col-- just comment this code */
        // padding-top: 5% !important;
        // padding-left: 5% !important;
        background-color: #efefef;
        text-align: center
    }
    .row {
        margin-top: 2%;
        margin-left: 1%;
        height: 30px !important;
    }
    .prefixRow {
        margin-top: 2%;
        background-color: #efefef;
        height: 47px !important;
        margin-left: 0%;
    }
    .prefixInnerRow {
        width: 49%;
        margin-bottom: 2%;
    }
    .suffixRow {
        width: 45%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .card-header-md {
        padding: 0%;
        height: 25px
    }
    .card-header-ios {
        padding: 0%;
        height: 25px
    }
    .toggle-md {
        padding: 2%;
        margin-top: -1%
    }
    .toggle-ios {
        padding: 2%;
        margin-top: -1%
    }
    .select-md .select-icon .select-icon-inner {
        color: #222;
    }
    .select-ios .select-icon .select-icon-inner {
        left: 5px;
    }
    .select-text {
        text-align: left;
    }
    .card-md {
        margin: 10px 0px 10px 0px;
        width: calc(100% - 1px);
    }
    .card-ios {
        margin: 10px 0px 10px 0px;
        width: calc(100% - 1px);
    }
    .text-input-md {
        margin: 0px 0px;
        width: 100%;
        text-align: center;
    }
    .text-input-ios {
        margin: 0px 0px;
        width: 100%;
        text-align: center;
    }
    .alert-md .alert-radio-icon {
        position: relative;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        min-width: 30px;
    }
    .OkButton {
        padding-right: 20px;
    }
    .maxToken {
        width: 94%;
        height: 10%;
    }
    .innerRow {
        width: 49%;
    }
    .display {
        display: contents;
    }
    .maxRow {
        width: 45%;
        margin-left: 2%;
    }
    .bgColor {
        background-color: white;
    }
    .prefix {
        background-color: white;
    }
    .outerRow {
        width: 94%;
        height: 10%;
        margin-bottom: 5%
    }
    .cardColor {
        background-color: #efefef
    }
    .multiple_toggle {
        opacity: 0;
    }
    .appointment_row2 {
        display: block;
        width: 72%;
        text-align: center;
        padding-right: 10%;
    }
    .appointment_toggle_row {
        width: 22%;
        margin-left: 2%;
        background-color: white;
    }
    .appointment_toggle_button {
        padding: 6px;
    }
}