<ion-header>

  <ion-navbar color="provider">
    <ion-title>Session Details</ion-title>
    <ion-buttons end class="OkButton">
      <button ion-button icon-only (click)="nullChexkofSession()"> ok
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="sessionGrid">
    <ion-item class="session">
        <!-- Rincy proper coding -->
      <ion-select interface="popover" placeholder="Session Type" class="select" no-margin title="Session Type"
      (ionChange)="session()" [(ngModel)]="client.sessionDetails.sessionType">
        <ion-option value="single">Single</ion-option>
        <ion-option value="multiple">Multiple</ion-option>
        <ion-option value="appointment">Appointment</ion-option>
      </ion-select>
    </ion-item>
    <!-- Rincy proper coding -->
    <ion-row class="prefixRow" [hidden]="client?.sessionDetails?.sessionType == 'appointment' || !client?.sessionDetails?.sessionType ">
      <ion-row class="prefixInnerRow">
        <ion-col>
          Prefix
        </ion-col>
        <ion-col col-4 class="prefix">
            <!-- Rincy proper coding -->
          <ion-input type="text" [(ngModel)]="client.sessionDetails.tokenPrefix" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="suffixRow">
        <ion-col>
          Suffix
        </ion-col>
        <ion-col col-4 class="prefix">
            <!-- Rincy proper coding -->
          <ion-input type="text" [(ngModel)]="client.sessionDetails.tokenSuffix" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-row>
    <!-- Rincy proper coding -->
    <div *ngIf="(client?.sessionDetails?.sessionType == 'single')">
      <ion-card class="cardColor" *ngFor="let session of client?.sessionDetails?.sessions; let i = index">
        <ion-card-header text-center class="cardHeader">Session Details</ion-card-header>
        <ion-row class="maxToken" center>
          <ion-row class="innerRow">
            <ion-col>
              Max Token
            </ion-col>
            <ion-col col-4 class="display">
                <!-- Rincy proper coding -->
              <ion-toggle [(ngModel)]="session.enableMaxToken" float-right clear></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row class="maxRow">
            <ion-col>
              Max #
            </ion-col>
            <ion-col col-4 class="bgColor">
                <!-- Rincy proper coding -->
              <ion-input type="number" [(ngModel)]="session.maxToken" *ngIf="session?.enableMaxToken"></ion-input>
            </ion-col>
          </ion-row>
        </ion-row>

        <ion-row class="outerRow">
          <ion-row class="innerRow">
            <ion-col>
              From *
            </ion-col>
            <ion-col class="bgColor">
                <!-- Rincy proper coding -->
              <ion-datetime displayFormat="HH:mm" color="primary" [(ngModel)]="session.startTime" [min]="minStartTime(session?.sessionNumber)"
                no-padding icon-right></ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row class="maxRow">
            <ion-col>
              To *
            </ion-col>
            <ion-col class="bgColor">
                <!-- Rincy proper coding -->
              <ion-datetime displayFormat="HH:mm" color="primary" [(ngModel)]="session.endTime" [min]="session?.startTime"
                no-padding icon-right></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-card>
    </div>
    <!-- Rincy proper coding -->
    <div *ngIf="(client?.sessionDetails?.sessionType == 'multiple')">
      <ion-card class="cardColor" *ngFor="let session of client?.sessionDetails?.sessions; let i = index ">
        <ion-card-header text-center class="cardHeader">Session {{i+1}}
          <ion-toggle [(ngModel)]="isToggled" *ngIf="i == 2" float-right clear></ion-toggle>
          <ion-toggle *ngIf="i != 2" class="multiple_toggle" float-right clear></ion-toggle>
        </ion-card-header>
        <!-- Rincy proper coding -->
        <ion-row center class="maxToken" *ngIf="i != 2 || isToggled">
          <ion-row class="innerRow">
            <ion-col>
              Max Token
            </ion-col>
            <ion-col col-4 class="display">
              <ion-toggle [(ngModel)]="session.enableMaxToken" float-right clear></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row class="maxRow">
            <ion-col>
              Max #
            </ion-col>
            <ion-col col-4 class="bgColor">
                <!-- Rincy proper coding -->
              <ion-input type="number" [(ngModel)]="session.maxToken" *ngIf="session?.enableMaxToken"></ion-input>
            </ion-col>
          </ion-row>
        </ion-row>
        <!-- Rincy proper coding -->
        <ion-row class="outerRow" *ngIf=" i != 2 || isToggled">
          <ion-row class="innerRow">
            <ion-col>
              From
            </ion-col>
            <ion-col class="bgColor">
                <!-- Rincy proper coding -->
              <ion-datetime displayFormat="HH:mm" color="primary" [(ngModel)]="session.startTime" [min]="minStartTime(session?.sessionNumber)"
                no-padding icon-right></ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row class="maxRow">
            <ion-col>
              To
            </ion-col>
            <ion-col class="bgColor">
                <!-- Rincy proper coding -->
              <ion-datetime displayFormat="HH:mm" color="primary" [(ngModel)]="session.endTime" [min]="session?.startTime"
                no-padding icon-right></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-card>
    </div>
    <!-- Rincy proper coding -->
    <div *ngIf="(client?.sessionDetails?.sessionType == 'appointment')">
      <ion-card class="cardColor" *ngFor="let session of client?.sessionDetails?.sessions; let i = index">
        <ion-card-header text-center class="cardHeader">Appointment Details</ion-card-header>
        <ion-row center class="outerRow">
          <ion-row class="appointment_row2">
            Time Interval (in minutes)
          </ion-row>
          <ion-row class="appointment_toggle_row">
              <!-- Rincy proper coding -->
            <ion-input class="appointment_toggle_button" type="number" [(ngModel)]="session.timeInterval"></ion-input>
          </ion-row>
        </ion-row>

        <ion-row class="outerRow">
          <ion-row class="innerRow">
            <ion-col>
              From
            </ion-col>
            <ion-col class="bgColor">
                <!-- Rincy proper coding -->
              <ion-datetime displayFormat="HH:mm" color="primary" [(ngModel)]="session.startTime" [min]="minStartTime(session?.sessionNumber)"
                no-padding icon-right></ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row class="maxRow">
            <ion-col>
              To
            </ion-col>
            <ion-col class="bgColor">
                <!-- Rincy proper coding -->
              <ion-datetime displayFormat="HH:mm" color="primary" [(ngModel)]="session.endTime" [min]="session?.startTime"
                no-padding icon-right></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>