<ion-header>
  <ion-navbar color="provider">
    <ion-title>{{myDate | date : 'h:mm a'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="endSession()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
  <p class="date">Session {{session}}: {{myDate | date : 'dd/MM/yyyy'}}</p>
  <ion-card class="card">


    <ion-img src="assets/imgs/no.png"></ion-img>

    <ion-row class="row-position">
      <ion-col col-3 class="decrement-col">
        <!-- Rincy proper coding -->
        <button ion-button icon-only class="decrement" (click)="decrementToken()" [disabled]="tokenSession?.currentDtls?.currentToken === '0' || tokenSession?.currentDtls?.status === 'CLOSED'">
          <ion-icon name="ios-arrow-back" color="light"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 class="token">
        <h1>{{client?.sessionDetails?.tokenPrefix}}{{tokenSession?.currentDtls?.currentToken}}{{client?.sessionDetails?.tokenSuffix}}</h1>
      </ion-col>
      <ion-col col-3 class="increment-col">
        <!-- Rincy proper coding -->
        <button ion-button icon-only class="increment" (click)="incrementToken()" [disabled]="client?.sessionDetails?.sessions[tokenSession?.currentDtls?.session].enableMaxToken && 
          tokenSession?.currentDtls?.currentToken === client?.sessionDetails?.sessions[tokenSession?.currentDtls?.session].maxToken || tokenSession?.currentDtls?.status === 'CLOSED'">
          <ion-icon name="ios-arrow-forward" color="light"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="name-row">
      <h2><span class="empty" [hidden]="aptDtls()">---------</span>
        <span *ngIf="aptDtls()" text-capitalize>{{tokenSession?.aptDtls?.name}}</span></h2>
    </ion-row>
    <ion-row class="notes-box">
      <ion-row col-12 class="notes-row">
        <h3>Notes</h3>
      </ion-row>
      <ion-row class="notes-content">
        <p *ngIf="aptDtls()">{{tokenSession?.aptDtls?.customerNotes}} </p>
      </ion-row>
    </ion-row>
    <ion-row class="reserved-row">
      <h2>Reserved On : <span class="empty" [hidden]="aptDtls()">---------</span>
        <span *ngIf="aptDtls()">{{tokenSession?.aptDtls?.createdAt | date : 'dd/MM/yyyy'}}</span></h2>
    </ion-row>
  </ion-card>
  <!-- Rincy proper coding -->
  <button class="bottom-button" *ngIf="aptDtls()" (click)="completed()" [disabled]="tokenSession?.aptDtls?.providerStatus && tokenSession?.aptDtls?.providerStatus">COMPLETED</button>
</ion-content>