page-serve-token {
    /* to remove the default card margin */
    .card-ios {
        margin: 0px;
    }
    .card-md {
        margin: 0px;
    }
    /* to remove the ion image background */
    ion-img {
        background: none;
        width: 35%;
        height: 35%;
        margin-top: 5%;
        margin-left: 33%;
    }
    /* align the date */
    .date {
        display: flex;
        justify-content: center;
    }
    /* card size and alignment */
    .card {
        width: 90%;
        height: 75%;
        margin-left: 5%;
        background-color: #D9D9D9;
    }
    /* ion row position */
    .row-position {
        position: absolute;
        width: 100%;
        margin-left: -5%;
    }
    .name-row {
        margin-top: 25%;
        display: flex;
        justify-content: center;
    }
    /*button at the bottom */
    .bottom-button {
        height: 7%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #6CBD1A;
        color: white;
        font-size: 3vh;
    }
    .button-md.activated{
        background-color: color($colors, provider)
    }
    .button-ios.activated{
        background-color: color($colors, provider)
    }
    /* align the token  */
    .token {
        display: flex;
        justify-content: center;
        color: #808080;
    }
    .token h1 {
        font-size: 3.8em;
        font-weight: bolder;
    }
    .decrement-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .increment-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .decrement {
        border-radius: 50%;
        height: 4.8em;
        width: 4.8em;
        font-size: 1.6rem;
        color: #000;
        background-color: color($colors, provider);
    }
    .increment {
        border-radius: 50%;
        height: 4.8em;
        width: 4.8em;
        font-size: 1.6rem;
        color: #000;
        background-color: color($colors, provider);
        display: flex;
        justify-content: center;
    }
    /* name alignment  */
    .name-row h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    /* notes box */
    .notes-box {
        width: 80%;
        height: 20%;
        background-color: color($colors, provider);
        margin-left: 10%;
        margin-top: 2%;
        border: 1px solid #999999;
    }
    /* notes row changes */
    .notes-row {
        height: 30%;
        border-bottom: 1px solid #999999;
        background-color: white;
        display: flex;
        justify-content: center;
    }
    /* heading notes weight */
    .notes-row h3 {
        font-weight: bold;
    }
    /* notes content goes here */
    .notes-content {
        background-color: #EFEFEF;
        width: 100%;
        height: 70%;
    }
    .notes-content p {
        margin-left: 3%;
    }
    .reserved-row {
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }
}