<ion-header>

  <ion-navbar color="provider">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content" padding>
  <ion-grid class="grid">

    <ion-row text-capitalize>
      <!-- <ion-col class="contenCol">
         <ion-icon color="provider" name="person" class="contenIcon"></ion-icon>
      </ion-col> -->
      <ion-col class="imageCol" (click)="presentActionSheet()">
        <img class="userImage" *ngIf="imageUrl" [src]="imageUrl" onerror="this.src='assets/imgs/chat1.jpg'">
      </ion-col>
      <!-- <ion-avatar item-left (click)="presentActionSheet()">
          <img src={{client.image}}>
        </ion-avatar> -->
      <ion-col col-9 class="emailCol">
        <!-- Rincy proper coding -->
        <ion-input #name="ngModel" placeholder="Business Name" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.name">

        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="name.touched && name.invalid || nullCheck && !client.name" class="errorMsg">
      <ion-label color="danger">
        * Business Name is required.
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="phone-portrait" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">
        <!-- Rincy proper coding -->
        <input #phone="ngModel" required placeholder="Mobile Number" type="number" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.phoneNum" class="phoneInput" oninput="this.value=this.value.replace(/^[0]?[0]/g,'')">

      </ion-col>
    </ion-row>

    <ion-row *ngIf="phone.touched && phone.invalid || nullCheck && !client.phoneNum" class="errorMsg">
      <ion-label color="danger">
        * Mobile Number is required.
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="person" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8>
        <!-- Rincy proper coding -->
        <ion-select #sector="ngModel" required placeholder="Sector" class="select" [disabled]=" client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.providerDetails.providerSector" interface="popover" no-margin>
          <ion-option value="{{client.clientSector}}" *ngFor="let client of clients">{{client?.clientSector}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sector.touched && sector.invalid || nullCheck && !client.providerDetails.providerSector" class="errorMsg">
      <ion-label color="danger">
        * Sector is required.
      </ion-label>
    </ion-row>


    <!-- <ion-row text-capitalize>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="phone-portrait" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8>
       
        <ion-select #token="ngModel" required  class="select" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.providerDetails.tokenOwner" interface="popover" no-margin>
          <ion-option value="app">App</ion-option>
         
        </ion-select>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row *ngIf="token.touched && token.invalid || nullCheck && !client.providerDetails.tokenOwner" class="errorMsg">
      <ion-label color="danger">
        * Token Owner is required.
      </ion-label>
    </ion-row> -->

    <ion-row text-capitalize>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="mail" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="emailCol">
        <!-- Rincy proper coding -->
        <input #email="ngModel" required type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.emailId" placeholder="Email-id" class="phoneInput" />
        <!-- </ion-input> -->
      </ion-col>
    </ion-row>
    <ion-row *ngIf="email.touched && email.invalid || nullCheck && !client.emailId" class="errorMsg">
      <ion-label color="danger">
        * Email-id is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="pin" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">
        <!-- Rincy proper coding -->
        <ion-select #state="ngModel" required placeholder="State" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.providerDetails.state" (ionChange)="loadCities()" interface="popover" no-margin>
          <ion-option value="{{state.name}}" *ngFor="let state of stateList">{{state?.name}}</ion-option>
        </ion-select>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="state.touched && state.invalid || nullCheck && !client.providerDetails.state" class="errorMsg">
      <ion-label color="danger">
        * State is required.
      </ion-label>
    </ion-row>

    <ion-row text-capitalize>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="pin" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">
        <!-- Rincy proper coding -->
        <ion-select #city="ngModel" required placeholder="City" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.providerDetails.city" interface="popover" no-margin>
          <ion-option color="provider" *ngFor="let city of citiesList">{{city}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="city.touched && city.invalid || nullCheck && !client.providerDetails.city" class="errorMsg">
      <ion-label color="danger">
        * City is required.
      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="pin" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">
        <!-- Rincy proper coding -->
        <input #pincode="ngModel" required placeholder="Pincode" type="number" [disabled]="client?.providerType == 'SECONDARY'"
          [(ngModel)]="client.providerDetails.zip" class="phoneInput">

        <!-- </ion-input> -->
      </ion-col>
    </ion-row>

    <ion-row *ngIf="pincode.touched && pincode.invalid || nullCheck && !client.providerDetails.zip" class="errorMsg">
      <ion-label color="danger">
        * Pincode is required.
      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col class="contenCol">
        <ion-icon color="provider" name="pin" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col col-8 class="stateSelect">
        <!-- Rincy proper coding -->
        <button class="locationButton" (click)="addLocation()" *ngIf="!client?.providerDetails?.location">
          Add Your Location
        </button>
        <!-- Rincy proper coding -->
        <button class="locationButton" (click)="addLocation()" *ngIf="client?.providerDetails?.location">
          {{client?.providerDetails?.location}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row text-capitalize class="profileRow">
      <ion-col class="contenCol">
        <ion-icon color="provider" name="lock" class="contenIcon"></ion-icon>
      </ion-col>
      <ion-col class="contentInputCol" (click)="passwordChange()">
        <button ion-button color="provider" class="specific-button changePasswordLabel" icon-right>
          Change Password
          <ion-icon color="provider" class="changePasswordIcon" name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <div text-capitalize class="myButton" text-center>
      <!-- Rincy proper coding -->
      <button ion-button color="provider" *ngIf="client?.providerType != 'SECONDARY'" (click)="save()">
        Save
      </button>
      <button ion-button color="provider" *ngIf="client?.providerType == 'SECONDARY'" (click)="addSession()">
        Add Session
      </button>
      <button ion-button color="provider" *ngIf="client?.providerDetails?.providerSector == 'Hospital'" [disabled]="client?.providerType == 'SECONDARY'"
        (click)="addSpecialist()">
        Add Specialist
      </button>
    </div>
  </ion-grid>
</ion-content>