page-details {
    .errorMsg {
        border-bottom: none !important;
    }
    .OtherDetails {
        margin-top: 10%;
        border-radius: 0px 0px 0px 0px;
    }
    .text-input-ios {
        padding-left: 16px;
    }
    .text-input-md {
        padding-left: 16px;
    }
    .stateSelect {
        .select-md {
            max-width: 100%;
        }
    }
    ion-label {
        margin: 0;
        display: initial;
    }
    .label-md {
        margin: 0px 0px 0px 0;
    }
    .col {
        padding: 0px;
        padding-left: 4%;
    }
    .row {
        border-bottom: 1px solid;
        max-height: 30%;
        padding-left: 2%;
    }
    .contenCol {
        max-width: 10%;
        /* varun-- comment here and did margin for icon */
        // margin-top: 2%;
    }
    .icon-md-provider{
        margin-top: 25%;
    }
    .icon-ios-provider{
        margin-top: 25%;
    }
    .imageCol {
        // max-width: 80px
    }
    .userImage {
        background-size: 100% 100%;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .img {
        background-image: url("../assets/imgs/person.png");
    }
    .contentIcon {
        font-size: 1.8em;
        margin-top: 1%
    }
    .locationButton {
        background-color: white;
        height: 40px;
        margin-left: 8px
    }
    .emailCol {
        padding: 0px 10px 0px 10px;
    }
    .zipCol {
        padding: 12px 12px 12px 16px;
    }
    .zipInput {
        border: 0;
    }
    .phoneInput {
        border: 0;
        height: 40px;
        margin-left: 17px;
    }
    .myButton {
        margin-top: 10%
    }
    .GenderMale {
        width: 70%;
        padding: 10px 5px 10px 5px;
        margin-left: 20%;
        color: white;
    }
    .GenderMale:hover {
        background-color: color($colors, provider);
    }
    .GenderFemale {
        width: 70%;
        padding: 10px 5px 10px 5px;
        margin-left: 10%;
        color: white;
    }
    .resetButton {
        width: 40%;
        margin-left: 10%;
        margin-bottom: 0%;
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        background-color: color($colors, provider);
        color: white;
    }
    .saveButton {
        width: 40%;
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        background-color: color($colors, provider);
        color: white;
    }
    .colIcon {
        font-size: 25px;
        margin-top: 1%;
        color: color($colors, provider);
    }
    ion-select {
        max-width: 100% !important;
    }
    ion-icon {
        font-size: 1.8em;
    }
   
    .changePasswordIcon {
        position: relative;
        width: 100%;
        padding-left: 0px;
    }
    .changePasswordLabel {
        width: 100%;
        box-shadow: none;
        background-color: Transparent;
        margin-bottom: 0px;
        padding-top: 10px;
        margin-top: 0px;
        height: 41px;
        color: black;
    }
    .specific-button .button-inner {
        justify-content: flex-start;
    }
    .button-md-primary.activated {
        background-color: transparent;
    }
    .button-ios-primary.activated {
        background-color: transparent;
    }
}