page-customer-member {
    
    .profile {
        border-radius: 50%;
        padding: 30%;
        text-transform: capitalize;
        font-size: 1.2em;
        color: white;
        background-color: color($colors, primary);
        background-size: 100% 100%;
        -webkit-text-stroke-width: 1px;
        margin: 10%;
        height: 80%;
        width: 85%;
    }
    .fab ion-icon {
        font-size: 4.4rem;
        color: white
    }
    [padding] h1:first-child,
    [padding] h2:first-child,
    [padding] h3:first-child,
    [padding] h4:first-child,
    [padding] h5:first-child,
    [padding] h6:first-child {
        margin-top: 2px;
    }
    .boldText {
        font-weight: bold;
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: #222;
        background-color: transparent;
    }
    /* varun circle */
    .circle {
        width: 50px;
        height:50px;
        position: relative;
        // width: 80%;
        // padding-bottom: 80%;
        background: color($colors, provider);
        border-radius: 50%;
    }

    /* varun cicle--- this below code look fishy if found any issue in this page comment the following and uncomment the bootstrap line in html  */
//     ion-row {

//     ion-col {

//         &:first-of-type {

//             flex: 0 0 10px;

//         }
//     }
// }
    .circle-size{
        width: 55px;
        height:55px;
    }
    // /* varn-- using this to fit the circle in ipad or tab */
    // @media screen and (min-width: 450px) {
    //     .circle {
    //         position: relative;
    //         width: 50%;
    //         padding-bottom: 50%;
    //         background: color($colors, provider);
    //         border-radius: 50%;
    //     }
    // }
    // @media screen and (min-width: 650px) {
    //     .circle {
    //         position: relative;
    //         width: 30%;
    //         padding-bottom: 30%;
    //         background: color($colors, provider);
    //         border-radius: 50%;
    //     }
    // }
    .circle h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}