<ion-header>

  <ion-navbar>
    <ion-title>Member</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="secondaryCustomers">
    <ion-card *ngFor="let member of secondaryCustomers" (click)="details(member)" >
      <ion-row>
        <ion-col  class="circle-size">
          <!-- <button ion-button clear class="profile">
            
            {{member?.name[0]}}
          </button> -->
          <div class="circle">
            <h3 text-capitalize>{{member?.name[0]}}</h3>
          </div>
        </ion-col>
        <!-- donot delete this following comment  -->
        <ion-col col-9 col-sm-10 col-md-10 col-lg-10>
          <!-- <ion-col> -->
          <ion-row>
            <!-- Rincy proper coding -->
            <h5 text-capitalize class="boldText">{{member?.name}}</h5>
          </ion-row>
          <ion-row>
            <!-- Rincy proper coding -->
            <h5>{{member?.dob | date : 'dd/MM/yyyy'}} &nbsp;&nbsp;&nbsp;</h5>
            <h5 class="boldText">Gender :</h5>
            <!-- Rincy proper coding -->
            <h5 text-capitalize>{{member?.gender[0]}} </h5>
          </ion-row>
          <ion-row>
            <h5 class="boldText">Relationship &nbsp;&nbsp;:</h5>
            <!-- Rincy proper coding -->
            <h5>{{member?.relationship}} </h5>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
  <ion-fab right bottom (click)="addMember()">
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>