page-customer-menu {
    .line {
        width: 100%;
        height: 3px; // background-color: black;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}