<ion-menu side="left" id="authenticated" [content]="content" type="overlay" >
  <ion-header >
      <ion-toolbar >
          <ion-grid>
              <ion-row >
                  <img src="assets/imgs/Qbust.png" class="logo2" >
              </ion-row>
          </ion-grid>
      </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
        <!-- <img src="assets/imgs/Qbust.png" class="logo" > -->
        <div class="line"></div>
      <ion-list class="user-list" no-lines >
          <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuProvider" (click)="openPage(menuItem)">
              <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
              <!-- Rincy proper coding -->
              <span ion-text color="dark">{{menuItem?.title}}</span>
          </button>

          <button ion-item menuClose class="text-1x" (click)="closeMenu()">
            <ion-icon item-left name="log-out" color="primary"></ion-icon>
            <span ion-text color="dark">Logout</span>
        </button>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>