<ion-header>
  <ion-navbar color="provider">
    <button ion-button menuToggle>
      <ion-icon class="menuIcon" name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeMenu()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content">

  <div id="carosel">
    <ion-slides pager autoplay="3000" loop=true speed="1000" class="imageSlider">
      <ion-slide *ngFor="let item of slide">
        <img [src]="item.image" class="image" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="bottonDiv">
  <div text-capitalize class="serveTokenDiv">
    <ion-row class="divRow">

      <ion-col (click)='serveToken()'>
        <div>
          <h4 class="h4">Profile</h4>
          <ion-icon class="pageIcons" name="person"></ion-icon>
        </div>

      </ion-col>

      <div text-capitalize class="div1">
      </div>

      <ion-col (click)="apt()">

        <h4 class="h4">Appointments</h4><button ion-datepicker icon-only class="buttonIcon" (ionChanged)="getDate($event)">
          <ion-icon class="pageIcons" name="star"></ion-icon>
        </button>


      </ion-col>
    </ion-row>
  </div>

  <div class="div2">
  </div>

  <div class="div3">
  </div>

  <div text-capitalize class="serveTokenDiv">
    <ion-row class="divRow">

      <ion-col (click)="providerChat()">
        <div>
          <h4 class="h4">Chat</h4>
          <ion-icon class="pageIcons" name="chatbubbles"></ion-icon>
        </div>
      </ion-col>

      <div text-capitalize class="div1">
      </div>

      <ion-col>
        <div>
          <h4 class="h4">Locate Customer</h4>
          <ion-icon class="pageIcons" name="md-locate"></ion-icon>
        </div>

      </ion-col>
    </ion-row>
  </div>
</div>


</ion-content>
