page-provider-home {
    .content {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    div#carosel {
        width: 100%;
        height: 45%;
    }
    .bottonDiv{
        height: 57%
    }
    .serveTokenDiv{
        height: 48%
    }
    .divRow{
        height: 100%
    }
    .swiper-pagination-bullet {
        background: rgb(136, 136, 136);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: color($colors, provider);
        opacity: 1;
    }
    .h4 {
        color: rgb(105, 102, 102);
        margin-top: 18%;

        /* varun-- added new responsive font */
        font-size: 4vw;
    }
    .pageIcons {
        /* varun-- font size changes from font-size: 60px;to below */
        font-size: 14vw;
        margin-bottom: 15%;
        color: color($colors, provider);
        display: block;
        text-align: center;
    }
    .div1 {
        color: color($colors, provider);
        margin-top: 5%;
        border-left: 4px solid color($colors, provider);
        // height: 120px;
        margin-bottom: 5%
    }
    .div2 {
        border-bottom: 4px solid color($colors, provider);
        width: 40%;
        margin-left: 5%;
        float: left;
    }
    .div3 {
        border-bottom: 4px solid color($colors, provider);
        width: 40%;
        margin-left: 55%;
    }
    .slide-zoom {
        height: 100%;
    }
    .h4 {
        font-weight: bold;
        text-align: center;
    }
    .image {
        width: 100%;
        height: 100%
    }
    .imageSlider {
        width: 100%;
        height: 100%
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: #222;
        background-color: transparent;
    }
    .buttonIcon {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        width: 100%;
    }
}