page-provider-specialists {
    .col1 {
        width: 15%;
    }
    .profile {
        border-radius: 50%;
        padding: 30%;
        text-transform: capitalize;
        font-size: 1.6em;
        color: white;
        background-color: color($colors, provider);
        background-size: 100% 100%;
        -webkit-text-stroke-width: 1px;
        margin: 10%;
        width: 90%;
        height: 70%;
    }
    .fab ion-icon {
        font-size: 4.4rem;
        color: white;
    }
    [padding] h1:first-child,
    [padding] h2:first-child,
    [padding] h3:first-child,
    [padding] h4:first-child,
    [padding] h5:first-child,
    [padding] h6:first-child {
        margin-top: 2px;
    }
    .boldText {
        font-weight: bold;
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: #222;
        background-color: transparent;
    }
    .topRow {
        border-bottom: 1px solid darkgray;
    }
    .bottomRow {
        padding-top: 2%
    }
    .experienceRow {
        width: 50%
    }
    .genderRow {
        width: 50%;
    }
    .bottomCol {
        width: 50%;
        max-width: 50%
    }
    .expTextCol {
        width: 40%;
        max-width: 40%
    }
    .expCol {
        width: 60%;
        max-width: 60%
    }
    /* varun circle */
    .circle {
        position: relative;
        width: 80%;
        padding-bottom: 80%;
        background: color($colors, provider);
        border-radius: 50%;
    }
    /* varn-- using this to fit the circle in ipad or tab */
    @media screen and (min-width: 450px) {
        .circle {
            position: relative;
            width: 50%;
            padding-bottom: 50%;
            background: color($colors, provider);
            border-radius: 50%;
        }
      }
    .circle h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}