<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-right name="add" *ngIf="!item.open"></ion-icon>
        <ion-icon item-right name="close" *ngIf="item.open"></ion-icon>
        {{ item.name }}
      </button>

      <ion-list *ngIf="item.children && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>


          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>

            <p text-lowercase>{{ child.information }}</p>

          </ion-item>



        </ion-list-header>
      </ion-list>

    </ion-list-header>
  </ion-list>
</ion-content>