<ion-header no-border>

  <ion-navbar color="primary" class="myNavbar">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Bookings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce>

  <super-tabs tabsPlacement="top" toolbarColor="primary" indicatorColor="primary">
      <super-tab [root]="tab1Root" title="Active" ></super-tab>
      <super-tab [root]="tab2Root" title="Expired" ></super-tab>
  </super-tabs>

</ion-content>