<ion-content padding no-bounce>
  <div text-capitalize color="primary">
    <div *ngIf="customerlogin" id="one">
      <form padding [formGroup]="CustomerLoginForm">
        <ion-list class="position">
          <ion-item class="empty"></ion-item>
          <ion-item class="border-box" [class.invalid]="CustomerLoginForm.controls['mobile_no'].errors && CustomerLoginForm.controls['mobile_no'].touched">
            <ion-label class="itemIcon">
              <ion-icon name="tablet-portrait"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email / Mobile Num" [formControl]="CustomerLoginForm.controls['mobile_no']"
              clearInput [(ngModel)]="userId" type="text" no-padding></ion-input>
          </ion-item>
          <ion-item class="border-box" [class.invalid]="CustomerLoginForm.controls['password'].errors && CustomerLoginForm.controls['password'].touched">
            <button icon-only ion-button clear type="button" item-left (click)="showPwd=!showPwd" class="itemIcon">
              <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
              <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
            <!-- Rincy proper coding -->
            <ion-input *ngIf="showPwd" type="text" placeholder="Password" [(ngModel)]="customer.password" [formControl]="CustomerLoginForm.controls['password']"></ion-input>
            <ion-input *ngIf="!showPwd" type="password" placeholder="Password" [(ngModel)]="customer.password"
              [formControl]="CustomerLoginForm.controls['password']"></ion-input>
          </ion-item>
          <ion-item class="border-box">
            <!-- Rincy proper coding -->
            <ion-select [(ngModel)]="customer.country" placeholder="Select Country" [formControl]="CustomerLoginForm.controls['country']">
              <ion-option value="India">India</ion-option>
              <ion-option value="USA">United States</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button class="signInButton" [disabled]="!CustomerLoginForm.valid" (click)="doLogin()">
            LOG IN
          </button>
          <!-- </div> -->
          <div text-center class="ForgotLogIn" (click)="forgot()">
            <u>Forgot Password ?</u>
          </div>
          <div text-center class="NewUser" (click)="hideForCustomer()">
            <u>New User ?</u>
          </div>
          <ion-label class="devBuildSpan" text-right>beta-build V 2.3</ion-label>
          <!-- </ion-item> -->
        </ion-list>
      </form>
    </div>
    <!-- customer signup -->
    <div *ngIf="customersignup">
      <form padding (submit)="doSignup()" [formGroup]="CustomerRegisterForm">
        <ion-list class="signUpPosition">
          <ion-item class="empty"></ion-item>

          <ion-item class="border-box" [class.invalid]="CustomerRegisterForm.controls['mobile_no'].errors && CustomerRegisterForm.controls['mobile_no'].touched">
            <ion-label class="itemIcon">
              <ion-icon name="tablet-portrait"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email / Mobile Num" [formControl]="CustomerRegisterForm.controls['mobile_no']"
              clearInput [(ngModel)]="userId" type="text"></ion-input>
          </ion-item>
          <ion-item class="border-box" [class.invalid]="CustomerRegisterForm.controls['password'].errors && CustomerRegisterForm.controls['password'].touched">
            <button icon-only ion-button clear type="button" item-left (click)="showPwd=!showPwd" class="itemIcon">
              <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
              <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
            <!-- Rincy proper coding -->
            <ion-input *ngIf="showPwd" type="text" placeholder="Password" [(ngModel)]="customer.password" [formControl]="CustomerRegisterForm.controls['password']"></ion-input>
            <ion-input *ngIf="!showPwd" type="password" placeholder="Password" [(ngModel)]="customer.password"
              [formControl]="CustomerRegisterForm.controls['password']"></ion-input>
          </ion-item>
          <ion-item class="border-box" [class.invalid]="CustomerRegisterForm.controls['country'].errors && CustomerRegisterForm.controls['country'].touched">
            <!-- Rincy proper coding -->
            <ion-select [(ngModel)]="customer.country" placeholder="Select Country" [formControl]="CustomerRegisterForm.controls['country']">
              <ion-option value="India">India</ion-option>
              <ion-option value="USA">United States</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button class="signInButton" [disabled]="!CustomerRegisterForm.valid">
            Sign Up
          </button>
          <div text-center class="ForgotLogIn" (click)="hideForCustomer()">
            Already have an account ?
            <u> LOG IN</u> here
          </div>

        </ion-list>
        
      </form>
      <div class="terms-alignment">
        <p>By continuing, you agree to <b (click)="openWithInAppBrowser('http://qbust.com/Terms&Conditions - App.html')">Terms & Conditions</b></p> 
       </div>
    </div>
    
  </div>
  
</ion-content>