page-customer-login {
    .position {
        margin-left: 5%;
        width: 90%;
    }
    .input-cover {
        left: 18%;
        width: 82%
    }
    .signUpPosition {
        margin-left: 5%;
        width: 90%;
    }
    .border-box {
        border: 1px solid color($colors, primary);
    }
    .input-ios[clearInput] .text-input {
        padding-right: 0px;
    }
    .input-md[clearInput] .text-input {
        padding-right: 0px;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #c8c7cc03;
    }
    .list-ios>.item-block:first-child {
        border-top: 1px solid #f6bb4203;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 1px solid #f6bb4203;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #c8c7cc03;
    }
    .list-md>.item-block:first-child {
        border-top: 1px solid #f6bb4203;
    }
    .list-md>.item-block:last-child,
    .list-md>.item-wrapper:last-child .item-block {
        border-bottom: 1px solid #f6bb4203;
    }
    .item-md {
        color: black;
        height: 46px;
    }
    .item-ios {
        color: black;
        height: 46px;
    }
    .Column {
        position: relative;
        max-width: 30%;
        color: #030303;
        height: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0px 0px 0px;
        padding: -30px 10px;
    }
    .Column1 {
        position: relative;
        width: 75%;
        max-width: 75%;
        height: 25px;
        border-radius: 0px 0px 0px 0px;
    }
    .Column2 {
        position: relative;
        max-width: 30%;
        color: #030303;
        height: 25px;
        border-radius: 0px 0px 0px 0px;
        padding: -30px 10px;
        background-color: rgba(255, 255, 255, 0.07);
        margin-left: -10%;
    }
    .select-text {
        overflow: -webkit-paged-x;
    }
    .ForgotLogIn {
        color: color($colors, primary);
        margin-top: 5%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.0em;
        float: left;
    }
    .NewUser {
        margin-top: 5%;
        float: right;
        color: rgb(71, 71, 70);
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
        box-shadow: inset 0 -1px 0 0 transparent;
    }
    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
        box-shadow: inset 0 -1px 0 0 transparent;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.item-input-has-focus .item-inner {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
        box-shadow: inset 0 -1px 0 0 transparent;
    }
    .item-ios.item-input.item-input-has-focus .item-inner,
    .item-ios.item-input.item-input-has-focus .item-inner {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
        box-shadow: inset 0 -1px 0 0 transparent;
    }
    .signInButton {
        height: 35px;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        background-color: color($colors, primary);
    }
    .signUpButton {
        width: 80%;
        background-color: color($colors, primary);
    }
    .slide-zoom {
        height: 100%;
    }
    .text-input-ios {
        margin: 3px 11px 11px 0;
        padding: 0;
        width: calc(100% - 8px);
    }
    .text-input-md {
        margin: 3px 11px 11px 0;
        padding: 0;
        width: calc(100% - 8px);
    }
    ion-select {
        max-width: 100%;
        width: 100%;
    }
    .text-input-md {
        margin: auto;
    }
    .text-input-ios {
        margin: auto;
    }
    .invalid {
        border: 1px solid #a31000;
    }
    .button-clear-md {
        color: black;
    }
    .button-clear-ios {
        color: black;
    }
    .devBuildSpan {
        width: 95%;
        color: gray;
        font-style: italic;
        font-size: 0.6em;
        float: right;
        margin-top: 5%;
    }
    .select-ios .select-placeholder {
        color: #222;
        opacity: .7;
    }
    .select-md .select-placeholder {
        color: #222;
        opacity: .7;
    }
    .itemIcon {
        width: 10%;
        text-align: center;
    }
    .terms-alignment{
        text-align: center;
        font-size: 10px;
        //display: none;
  
    }
}